/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-wv20hic73k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-wv20hic73k] {
    flex: 1;
}

.sidebar[b-wv20hic73k] {
    background-image: linear-gradient(180deg, #173f5f, #20639b);
}

.top-row[b-wv20hic73k] {
    background-color: #3caea3;
    border-bottom: 4px solid #f6d55c;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wv20hic73k]  a, .top-row[b-wv20hic73k]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-wv20hic73k]  a:hover, .top-row[b-wv20hic73k]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-wv20hic73k]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wv20hic73k] {
        display: none;
    }

    .top-row.auth[b-wv20hic73k] {
        justify-content: space-between;
    }

    .top-row[b-wv20hic73k]  a, .top-row[b-wv20hic73k]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wv20hic73k] {
        flex-direction: row;
    }

    .sidebar[b-wv20hic73k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wv20hic73k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-wv20hic73k]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-wv20hic73k], article[b-wv20hic73k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* footer
{
    background-color: #3caea3;
    color: #fff;
} */
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-s45i33qdi8] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-s45i33qdi8] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-s45i33qdi8] {
    font-size: 1.1rem;
}

.oi[b-s45i33qdi8] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-s45i33qdi8] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s45i33qdi8] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s45i33qdi8] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s45i33qdi8]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-s45i33qdi8]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-s45i33qdi8]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-s45i33qdi8] {
        display: none;
    }

    .collapse[b-s45i33qdi8] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-s45i33qdi8] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
