/* ---------------------------------
* This file contains all styles
* related to the footer of the
* site/application.
----------------------------------*/

footer {
  bottom: 0 !important;
  height: auto;
  width: 100%;
  color: black !important;
  // background-color: rgb(14, 44, 64) !important;
  background-color: rgba(246, 234, 127, 0.85);
  padding-bottom: 2em;

  .vvgonline-edge {
    //background-color: rgba(0,0,0,0.25);

    .vvgonline-edge-logo {
      width: 60%;
      height: auto;
    }
  }

  // inherit color from footer
  a {
    color: inherit;
  }
  border-bottom: 10px solid rgb(246, 234, 127);
}
