@import "./blog-banner";
@import "../theme/colors";
.blog-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  flex: 6;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.blog-img {
  transition: transform 0.4s ease;
}

.blog-card:hover .blog-img {
  transform: scale(1.05);
}

.blog-category {
  display: inline-block;
  background-color: rgba(37, 99, 235, 0.1);
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  transition: color 0.2s ease;
  color: var(--color-text);
}

.blog-title:hover {
  color: var(--color-black);
}

.blog-meta {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-meta span {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.blog-meta i {
  margin-right: 0.5rem;
}

.blog-excerpt {
  color: var(--color-dark);
  margin-bottom: 1.5rem;
}

.read-more {
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease;
}

.read-more:hover {
  //   color: $primary-7;
  transform: translateX(5px);
}

.read-more i {
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.read-more:hover i {
  transform: translateX(3px);
}
