$banner-image-path: "/assets/images/banners/Blog-Banner.jpg";
.blog-banner {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-text) no-repeat left;
  //   background: no-repeat left url(#{$banner-image-path});
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(#{$banner-image-path}) no-repeat center center;
  background-size: cover;
  top: 0;
  position: relative;

  .blog-banner__content {
    text-align: center;
    max-width: 800px;
    padding: 2rem;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    h1 {
      background-color: rgba(0, 0, 0, 0.75);
      font-size: 3rem;
      line-height: 1.2;
      color: var(--color-accent);
      margin-bottom: 20px;
    }
    p {
      //   background-color: rgba(0, 0, 0, 0.85);
      font-size: 1.125rem;
      line-height: 1.6;
    }
    .blog-banner__date {
      display: block;
      color: var(--color-accent-hover);
      font-size: 1.2rem;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 0.5em 1em;
      border-radius: 8px;
      margin-bottom: 1em;
    }
  }
  @media (max-width: 768px) {
    height: 404px;
    .blog-banner__content {
      h1 {
        font-size: 2rem;
        line-height: 1rem;
      }
      p {
        font-size: 1rem;
        line-height: 24px;
      }
    }
  }
  @media (max-width: 576px) {
    height: 404px;
    .blog-banner__content {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
  @media (max-width: 480px) {
    .blog-banner {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
  @media (max-width: 360px) {
    .blog-banner {
      height: 404px;
      .blog-banner__content {
        h1 {
          font-size: 18px;
          line-height: 24px;
        }
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
