//#region hero
//hero section
.hero {
  position: relative; // Add this
  overflow: hidden; // Ensures video doesn't spill out
  padding: 10px;
  margin-bottom: 80px;
  text-align: center;
  display: flex !important;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Centers horizontally and vertically */
  align-items: center; /* Centers vertically */
  //overflow: hidden;
  color: var(--color-background);

  #hero-video-background {
    background-color: var(--color-text);
    position: absolute !important; // It is important to keep the position as absolute. Before it was fixed but due to this this the banner filled out Or lived out of the hero Space.
    top: 50% !important;
    left: 50% !important;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1 !important;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }

  #hero-video-loaded {
    background-color: transparent; /* Remove background color when video loads */
  }

  .hero__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    //margin: 15px 10px;
    z-index: 1;
    color: var(--color-light);
  }

  .hero__text {
    font-size: clamp(1.1rem, 2.5vw, 1.25rem);
    text-align: center;
    z-index: 1;
  }
  //hyperlinks
  a {
    background-color: var(--color-accent);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }

  a:hover {
    background-color: var(--color-accent-hover);
  }
}
//#endregion hero
