//import scss files
@import "./colors";
@import "./fonts";
@import "./responsive";
@import "./animation";
@import "../layout/footer";
@import "../layout/nav";
@import "../Pages/blog";
@import "../Pages/privacy";
@import "../Pages/index";
@import "../Pages/contact";
@import "../Pages/presentation";
@import "../Pages/hero";
@import "../Pages/service";
@import "./buttons";
// Global Styles
html {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //body
  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    // background: linear-gradient(
    //   45deg,
    //   var(--color-primary),
    //   var(--color-secondary)
    // );
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: var(--color-background);

    a,
    button {
      text-transform: uppercase;
      text-decoration: none;
    }

    //#region about flex grid 2 column
    .about {
      .row {
        --bs-gutter-x: 0;
        display: flex;
        //align-items: stretch;
      }

      .col,
      .col-sm,
      .col-lg-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .col-sm img {
        flex-grow: 1;
        object-fit: cover;
      }

      display: flex;
      flex-direction: column; /* Stack elements vertically */
      align-items: center; /* Centers horizontally */
      //padding: 1% 0;
      //padding-right: 15%;

      .about__major-text {
        font-weight: 550;
      }

      .vvg-online-what-we-do-row {
        background-color: #fdfbe4;
        color: var(--color-text);
      }

      .vvg-online-our-services-are-must-row {
        background-color: #597ba8;
        color: var(--color-background);
      }

      .column {
        flex: 50%;
        padding: 0 15px;
        align-items: flex-start;
      }

      .about__text {
        padding: 0 15px;
        text-align: center;
      }

      .about__img {
        padding: 0 15px;
        text-align: center;
      }
    }
    //#endregion about flex grid 2 column
    //#region how-we-do-it-with-team flex grid 2 column 70-30
    .how-we-do-it-with-team {
      display: flex;
      flex-direction: row; /* Stack elements horizontally */
      align-items: flex-start;
      padding: 1% 0;

      .how-we-do-it-with-team__major-text {
        font-size: 16px;
        font-weight: 700;
      }

      .column-1 {
        flex: 70%;
        padding: 0 15px;
        align-items: flex-start;
      }

      .column-2 {
        flex: 30%;
        padding: 0 15px;
        align-items: flex-start;

        .team-member-name {
          font-size: 16px;
          font-weight: 700;
          display: flex;
          align-items: center;
          color: var(--color-text);
          background-color: var(--color-accent);
          padding: 5px 12px;
          border-bottom: var(--color-text) 2px solid;

          img {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            border-radius: 50%;
            align-self: center;
          }

          .team-member-name__text {
            align-self: center;

            small {
              font-size: 12px;
              font-weight: 400;
            }
          }
        }

        .team-member-skills {
          padding: 5px 12px;
        }
      }
    }
    //#endregion how-we-do-it-with-team flex grid 2 column 70-30
    //#region clients
    .client-banner {
      background-color: var(--color-text);

      img {
        margin: 0 auto;
      }
    }
    //#endregion clients
    //#region insights
    .card {
      overflow: hidden; /* Ensures the image stays within the card bounds */
      border-radius: 0;

      .card-title {
        font-size: 24px;
      }

      .latest-insights-card-text {
        text-transform: none;
      }

      .card-img-top {
        transition: transform 0.3s ease-in-out;
        overflow: hidden;

        &:hover {
          transform: scale(1.1);
          clip-path: inset(
            0
          ); /* Ensures the image stays within the card bounds */
        }
      }
    }
    //#endregion insights
    .ytbg {
      background-image: url(../images/svg/youtube.svg),
        linear-gradient(0deg, rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  scrollbar-color: var(--color-background) var(--color-text);
}
