:root {
  --golden-ratio: 1.618;
  --base-font-size: 16px;
}

h1 {
  font-size: calc(
    var(--base-font-size) * var(--golden-ratio) * var(--golden-ratio)
  );
}

h2 {
  font-size: calc(var(--base-font-size) * var(--golden-ratio));
}

h3 {
  font-size: var(--base-font-size);
}

body {
  font-size: calc(var(--base-font-size) / var(--golden-ratio));
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 16px;
    --base-font-size: 20px;
  }
}

body {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--base-font-size);
}

// Lead Text Styling
.lead {
  font-size: calc(var(--base-font-size) * 1.05);
  font-weight: 500;
  color: var(--color-dark);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Golos Text", sans-serif;
  text-transform: uppercase;
}