/* ---------------------------------
* This file contains all styles
* related to the index page of the
* site/application.
----------------------------------*/

//#region hero
    //hero section
    .hero {
        margin-top: 76px;
        background-color: var(--color-text);
        color: var(--color-light);
        padding: 10px 0;
        height: 404px;
        text-align: center;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
  
        .hero__title {
          columns: 50%;
          font-size: 48px;
          text-align: center;
          margin: 15px 10px;
        }
  
        .hero__text {
          font-size: 24px;
          text-align: center;
        }
  
        button {
          background-color: var(--color-accent);
          color: var(--color-text);
          border: none;
          padding: 10px 20px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 20px;
        }
  
        button:hover {
          background-color: var(--color-accent-hover);
        }
      }
      //#endregion hero

.whatIdo {
    //background-color: rgba(127,255,125, 0.25);
    background-image: linear-gradient(180deg, rgba(127,255,125, 0.25), rgba(255, 55, 122, 0.5));
    padding-bottom: 0;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ytbg {
    background-image: url(../svg/youtube.svg), linear-gradient(0deg,rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.youtube {
    color: #f23464;
    margin-bottom: 0;
    padding-bottom: 0;
}

.skills {
    .design {
        border-radius: 1rem;
        width: 110px;
        height: 100px;
        background: $prime-1;
        display: inline-block;

        .circle {
            height: 60px;
            width: 60px;
            background-color: $prime-4;
            border-radius: 50%;
            display: inline-block;
        }
    }

    .code {
        border-radius: 1rem;
        width: 110px;
        height: 100px;
        display: inline-block;
        background: $prime-2;

        a.circle {
            height: 60px;
            width: 60px;
            background-color: rebeccapurple;
            border-radius: 50%;
            display: inline-block;
            color: aliceblue;
            text-decoration: none;
        }
    }

    .market {
        border-radius: 1rem;
        width: 110px;
        height: 100px;
        background: $prime-3;
        display: inline-block;
    }

    .train {
        border-radius: 1rem;
        width: 110px;
        height: 100px;
        background: $prime-4;
        display: inline-block;
    }
}

.skills-with-borders {
    border-radius: 1rem;
    border: 2px solid $prime-3;
    width: 110px;
    height: 100px;
}

