/* ---------------------------------
* This file contains all styles
* related site/application.
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Lustria:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap");
:root {
  --color-primary: #06f;
  --color-secondary: #3e78b1;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fafaf5;
  --color-text: #2e2e38;
  --color-accent: #fd3;
  --color-accent-hover: #f3a712;
}

.prime-red {
  color: rgb(255, 55, 122);
}

.prime-blue {
  color: rgb(55, 176, 255);
}

.prime-yellow {
  color: rgb(246, 228, 65);
}

.prime-green {
  color: rgb(97, 187, 148);
}

.prime-gray {
  color: rgb(127, 127, 127);
}

:root {
  --golden-ratio: 1.618;
  --base-font-size: 1rem;
}

h1 {
  font-size: calc(var(--base-font-size) * var(--golden-ratio) * var(--golden-ratio));
}

h2 {
  font-size: calc(var(--base-font-size) * var(--golden-ratio));
}

h3 {
  font-size: var(--base-font-size);
}

body {
  font-size: calc(var(--base-font-size) + 0.4vw / var(--golden-ratio));
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 1rem;
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.7;
  letter-spacing: calc(var(--base-font-size) / var(--golden-ratio) * 0.01);
  font-weight: 300;
}

.lead {
  font-family: "Lustria", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25em;
  font-weight: 400;
  color: var(--color-background);
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif, serif;
  font-weight: 700;
}

.custom-display-6 {
  font-size: 2.5rem; /* Custom font size */
  font-weight: 500; /* Custom font weight */
}

@media screen and (max-width: 480px) {
  .hero {
    height: 100vh !important;
    padding: 5px !important;
  }
  .hero #hero-video-background {
    height: 100vh !important;
    width: auto !important;
  }
  .hero .hero__title {
    font-size: 32px !important;
    margin: 10px 5px !important;
  }
  .hero .hero__text {
    font-size: 16px !important;
    padding: 0 10px !important;
  }
  .blog-banner h1 {
    font-size: 1.5rem;
  }
  .blog-banner p {
    font-size: 0.875rem;
  }
}
@media screen and (max-height: 480px) and (orientation: landscape) {
  .hero {
    height: 100vh !important;
  }
  .hero #hero-video-background {
    width: 100vw !important;
    height: auto !important;
  }
  .hero .hero__title {
    font-size: 28px !important;
    margin: 5px !important;
  }
  .hero .hero__text {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .hero {
    height: calc(100vh - env(safe-area-inset-bottom)) !important;
  }
  .hero #hero-video-background {
    width: 100vw !important;
    height: auto !important;
    min-height: 100vh !important;
  }
  .hero .hero__title {
    font-size: 42px !important;
  }
  .hero .hero__text {
    font-size: 18px !important;
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    height: calc(100vh - env(safe-area-inset-bottom)) !important;
  }
  .hero #hero-video-background {
    min-width: 100vw !important;
    min-height: 100vh !important;
    width: auto !important;
    height: auto !important;
  }
  .hero .hero__title {
    font-size: 48px !important;
  }
  .hero .hero__text {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 2560px) {
  .hero #hero-video-background {
    width: 100vw !important;
    height: auto !important;
  }
  .hero .hero__title {
    font-size: 64px !important;
  }
  .hero .hero__text {
    font-size: 32px !important;
  }
}
@supports (padding: max(0px)) {
  .hero {
    padding-left: max(10px, env(safe-area-inset-left));
    padding-right: max(10px, env(safe-area-inset-right));
    padding-top: max(10px, env(safe-area-inset-top));
    padding-bottom: max(10px, env(safe-area-inset-bottom));
  }
}
@media (max-width: 767.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-nav .nav-item {
    text-align: right;
  }
  .blog-banner__content h1 {
    font-size: 2rem;
    line-height: 1rem;
  }
  .blog-banner__content p {
    font-size: 1rem;
    line-height: 24px;
  }
}
@media (max-width: 360px) {
  .blog-banner {
    height: 404px;
  }
  .blog-banner__content h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .blog-banner__content p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .blog-banner {
    height: 404px;
  }
  .blog-banner__content h1 {
    font-size: 1.5rem;
  }
  .blog-banner__content p {
    font-size: 0.875rem;
  }
}
/* responsive styles */
@media (max-width: 991.98px) {
  .slide-nav .slide-text {
    display: none;
  }
  .slide-nav.active .slide-line {
    width: 10rem;
    /* Adjusted active width for smaller screens */
    transition: all 0.3s ease-in-out;
  }
}
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .fullscreen-btn {
    top: 5px;
    right: 5px;
  }
  .slider-wrapper {
    padding-bottom: 2rem;
  }
  .logo-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .slide-nav {
    /* Adjust spacing and layout for smaller screens */
    padding-top: 0;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
  }
  .slide-nav .slide-text {
    /* Hide the full text descriptions on mobile to save space */
    display: none;
  }
  .slide-nav.active .slide-line {
    /* Make the active line shorter on mobile */
    width: 2rem;
  }
  .slide-nav.active .slide-number,
  .slide-nav.active .slide-text {
    /* Ensure colors remain active */
    color: #22d3ee;
  }
  .slide-nav .slide-number {
    /* Center the numbers */
    text-align: center;
    font-size: 14px;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--color-light);
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-logo-img {
  height: 40px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
footer .footer-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-light);
}
footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
footer .footer-links li {
  display: inline;
}
footer .footer-links a {
  color: var(--color-light);
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .footer-links a:hover {
  color: var(--color-accent);
}
footer .social-icons {
  display: flex;
  gap: 15px;
}
footer .social-icons a {
  color: var(--color-light);
  font-size: 20px;
  transition: color 0.3s ease;
}
footer .social-icons a:hover {
  color: var(--color-accent);
}

.navbar {
  background: rgba(0, 0, 0, 0.3); /* Adding a background color */
  display: flex;
  align-items: center; /* Vertically aligning nav links */
  transition: background-color 0.3s ease;
  padding: 1rem 0;
}
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbar .navbar-brand img {
  height: 50px;
  transition: all 0.3s ease;
}
.navbar .nav-item {
  animation: slideIn 0.5s ease-in-out forwards;
}
.navbar .nav-link {
  color: var(--color-white);
  font-weight: bold;
  margin-left: 15px;
}
.navbar .nav-link:hover {
  color: var(--color-accent);
}
.navbar .navbar-toggler {
  border-color: var(--color-accent);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 87, 166, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item:nth-child(1) .nav-link {
  animation-delay: 1s;
}

.nav-item:nth-child(2) .nav-link {
  animation-delay: 1.2s;
}

.nav-item:nth-child(3) .nav-link {
  animation-delay: 1.3s;
}

.nav-item:nth-child(4) .nav-link {
  animation-delay: 1.4s;
}

.blog-banner {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-text) no-repeat left;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/assets/images/banners/Blog-Banner.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  position: relative;
}
.blog-banner .blog-banner__content {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 12px;
}
.blog-banner .blog-banner__content h1 {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 3rem;
  line-height: 1.2;
  color: var(--color-accent);
  margin-bottom: 20px;
}
.blog-banner .blog-banner__content p {
  font-size: 1.125rem;
  line-height: 1.6;
}
.blog-banner .blog-banner__content .blog-banner__date {
  display: block;
  color: var(--color-accent-hover);
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.5em 1em;
  border-radius: 8px;
  margin-bottom: 1em;
}

/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
:root {
  --color-primary: #06f;
  --color-secondary: #3e78b1;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fafaf5;
  --color-text: #2e2e38;
  --color-accent: #fd3;
  --color-accent-hover: #f3a712;
}

.prime-red {
  color: rgb(255, 55, 122);
}

.prime-blue {
  color: rgb(55, 176, 255);
}

.prime-yellow {
  color: rgb(246, 228, 65);
}

.prime-green {
  color: rgb(97, 187, 148);
}

.prime-gray {
  color: rgb(127, 127, 127);
}

.blog-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 100%;
  flex: 6;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.blog-img {
  transition: transform 0.4s ease;
}

.blog-card:hover .blog-img {
  transform: scale(1.05);
}

.blog-category {
  display: inline-block;
  background-color: rgba(37, 99, 235, 0.1);
  padding: 0.25rem 1rem;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  transition: color 0.2s ease;
  color: var(--color-text);
}

.blog-title:hover {
  color: var(--color-black);
}

.blog-meta {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-meta span {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.blog-meta i {
  margin-right: 0.5rem;
}

.blog-excerpt {
  color: var(--color-dark);
  margin-bottom: 1.5rem;
}

.read-more {
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease;
}

.read-more:hover {
  transform: translateX(5px);
}

.read-more i {
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.read-more:hover i {
  transform: translateX(3px);
}

.pp-lead {
  color: var(--color-text);
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  overflow: hidden;
}
.hero .hero-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero .hero-subtitle {
  font-size: 2.22rem;
  color: wheat;
}
.hero #hero-video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.hero .hero-content {
  z-index: 1;
}

#services {
  color: var(--color-background);
}
#services p {
  color: rgba(var(--color-background), 0.3);
}
#services .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#services .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
#services .feature-icon-primary {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#insights {
  color: var(--color-background);
}
#insights .blog-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#insights .blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.contact-section {
  margin-top: 100px;
  color: var(--color-background);
}
.contact-section p {
  color: rgba(var(--color-background), 0.7);
}

.contact-form-iframe {
  height: 640px;
  width: 100%;
  border: none;
}

/* Fullscreen Button */
.fullscreen-btn {
  background: linear-gradient(to right, rgb(36, 25, 45), rgb(77, 26, 25));
  border: 1px solid var(--color-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: #fff;
}

.fullscreen-btn:hover {
  background: linear-gradient(to right, rgb(77, 26, 25), rgb(36, 25, 45));
  color: #fff;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.cta-button {
  background-color: var(--color-accent);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 15px rgba(52, 152, 219, 0.4);
  border: none;
}

.cta-button:hover {
  background-color: var(--color-accent-hover);
  transform: translateY(-2px);
  transition: transform 0.2s ease; /* Optional: adds smooth animation */
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.nav-buttons button {
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: var(--color-primary);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-buttons button:hover:not(:disabled) {
  background-color: var(--color-info);
  transform: scale(1.05);
}

.nav-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider-wrapper {
  flex: 1;
  width: 100%;
}

.slide-nav {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-top: 0.2rem;
}

.slide-nav .slide-number {
  font-size: 12px;
  font-weight: bold;
  color: var(--color-accent-hover);
  /* Bootstrap's gray-600 */
  transition: color 0.3s ease-in-out;
}

.slide-nav .slide-line {
  height: 2px;
  background-color: var(--color-accent);
  /* Bootstrap's gray-600 */
  transition: all 0.3s ease-in-out;
  margin-top: 0.5rem;
  width: 3rem;
  /* Default width when not active */
}

.slide-nav .slide-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: flex 0.65s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.65s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.65s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  /* top: 60px;  Adjust vertical position */
  left: 0;
  opacity: 0;
  pointer-events: none;
  flex: 8;
  /* Adjust width as needed */
  text-align: left;
  padding-top: 0.5rem;
}

.slide-nav .slide-text.active {
  opacity: 1;
  pointer-events: auto;
}

.slide-nav.active .slide-number,
.slide-nav.active .slide-text {
  color: #22d3ee;
}

.slide-nav.active .slide-line {
  background-color: #22d3ee;
  /* Bootstrap's cyan-400 */
  width: 20rem;
  /* Active width */
}

.new-badge {
  background-color: #fde047;
  /* Bootstrap's yellow-400 */
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 9px;
  font-size: 0.75rem;
  vertical-align: top;
  margin-left: 0.5rem;
}

html {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  color: var(--color-background);
}
html body .btn.btn-outline-dark,
html body .form-control,
html body .btn.btn-outline-light,
html body #subscribeButton,
html body .btn.btn-default {
  border-radius: 0;
}
html body a,
html body button {
  text-transform: uppercase;
  text-decoration: none;
}
html body .hero {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 80px;
  text-align: center;
  display: flex !important;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Centers horizontally and vertically */
  align-items: center; /* Centers vertically */
  color: var(--color-background);
}
html body .hero #hero-video-background {
  background-color: var(--color-text);
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1 !important;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
html body .hero #hero-video-loaded {
  background-color: transparent; /* Remove background color when video loads */
}
html body .hero .hero__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
  color: var(--color-light);
}
html body .hero .hero__text {
  font-size: 18px;
  text-align: center;
  z-index: 1;
}
html body .hero a {
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
html body .hero a:hover {
  background-color: var(--color-accent-hover);
}
html body .about {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Centers horizontally */
}
html body .about .row {
  --bs-gutter-x: 0;
  display: flex;
}
html body .about .col,
html body .about .col-sm,
html body .about .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body .about .col-sm img {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .about .about__major-text {
  font-weight: 550;
}
html body .about .vvg-online-what-we-do-row {
  background-color: #fdfbe4;
  color: var(--color-text);
}
html body .about .vvg-online-our-services-are-must-row {
  background-color: #597ba8;
  color: var(--color-background);
}
html body .about .column {
  flex: 50%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .about .about__text {
  padding: 0 15px;
  text-align: center;
}
html body .about .about__img {
  padding: 0 15px;
  text-align: center;
}
html body .how-we-do-it-with-team {
  display: flex;
  flex-direction: row; /* Stack elements horizontally */
  align-items: flex-start;
  padding: 1% 0;
}
html body .how-we-do-it-with-team .how-we-do-it-with-team__major-text {
  font-size: 16px;
  font-weight: 700;
}
html body .how-we-do-it-with-team .column-1 {
  flex: 70%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 {
  flex: 30%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 .team-member-name {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-accent);
  padding: 5px 12px;
  border-bottom: var(--color-text) 2px solid;
}
html body .how-we-do-it-with-team .column-2 .team-member-name img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text {
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text small {
  font-size: 12px;
  font-weight: 400;
}
html body .how-we-do-it-with-team .column-2 .team-member-skills {
  padding: 5px 12px;
}
html body .client-banner {
  background-color: var(--color-text);
}
html body .client-banner img {
  margin: 0 auto;
}
html body .card {
  overflow: hidden; /* Ensures the image stays within the card bounds */
  border-radius: 0;
}
html body .card .card-title {
  font-size: 24px;
}
html body .card .latest-insights-card-text {
  text-transform: none;
}
html body .card .card-img-top {
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}
html body .card .card-img-top:hover {
  transform: scale(1.1);
  clip-path: inset(0); /* Ensures the image stays within the card bounds */
}
html body .ytbg {
  background-image: url(../images/svg/youtube.svg), linear-gradient(0deg, rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-color: var(--color-background) var(--color-text);
}/*# sourceMappingURL=style.css.map */