/* ---------------------------------
* This file contains all styles
* related site/application.
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
:root {
  --color-primary: #06f;
  --color-secondary: #3e78b1;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fafaf5;
  --color-text: #2e2e38;
  --color-accent: #fd3;
  --color-accent-hover: #f3a712;
}

.prime-red {
  color: rgb(255, 55, 122);
}

.prime-blue {
  color: rgb(55, 176, 255);
}

.prime-yellow {
  color: rgb(246, 228, 65);
}

.prime-green {
  color: rgb(97, 187, 148);
}

.prime-gray {
  color: rgb(127, 127, 127);
}

footer {
  bottom: 0 !important;
  height: auto;
  width: 100%;
  background-color: var(--color-accent-hover);
  border-bottom: 10px solid rgb(246, 234, 127);
}
footer a:hover {
  background-image: linear-gradient(45deg, rgb(36, 25, 45), rgb(77, 26, 25));
}

nav {
  width: 100%; /* default width */
  max-width: 100vw; /* full width */
  z-index: 1000;
  background-color: var(--color-accent);
  border: var(--color-accent-hover) 2px solid;
  border-top: 0.25rem solid rgb(246, 234, 127);
}
nav .navbar-brand {
  transform: translateX(-50%);
}
nav .navbar-brand-img {
  height: 60px;
}
nav .logo {
  padding: 0 15px;
}

@media only screen and (max-width: 360px) {
  .navbar {
    width: 356px;
  }
}
* {
  scrollbar-color: rgb(255, 55, 122) rgb(246, 228, 65);
}

html {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  padding: 0;
  margin: 0;
  width: 100vw;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" x="0px" y="0px" width="2560px" height="1440px" viewBox="0 0 2560 1440" enable-background="new 0 0 2560 1440" xml:space="preserve" sodipodi:docname="vvgonline-grad-bg.svg" inkscape:version="1.3 (0e150ed6c4, 2023-07-21)" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs6" /><sodipodi:namedview id="namedview6" pagecolor="%23505050" bordercolor="%23eeeeee" borderopacity="1" inkscape:showpageshadow="0" inkscape:pageopacity="0" inkscape:pagecheckerboard="0" inkscape:deskcolor="%23505050" inkscape:zoom="0.56736111" inkscape:cx="1279.6083" inkscape:cy="720" inkscape:window-width="2560" inkscape:window-height="1009" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="Layer_1" />&%2310;<g id="deskGrad_2_">&%2310;&%2310;<radialGradient id="SVGID_1_" cx="596.3052" cy="92.1396" r="1228.8207" gradientTransform="matrix(1.3333 0 0 -1.3333 -713.5531 1508.6002)" gradientUnits="userSpaceOnUse">&%2310;<stop offset="0" style="stop-color:%23E27C56" id="stop1" />&%2310;<stop offset="1" style="stop-color:%231582B7" id="stop2" />&%2310;</radialGradient>&%2310;<rect x="-0.66399997" y="0.183" fill="url(%23SVGID_1_)" width="2560" height="1439.996" id="rect2" style="display:inline" sodipodi:insensitive="true" />&%2310;&%2310;<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-232.3906" y1="461.8555" x2="1747.4607" y2="1491.6841" gradientTransform="matrix(1 0 0 -1 564 1675)">&%2310;<stop offset="0" style="stop-color:%234B2757" id="stop3" />&%2310;<stop offset="1" style="stop-color:%23BE2F27" id="stop4" />&%2310;</linearGradient>&%2310;<rect x="-0.66399997" y="0.18099999" fill="url(%23SVGID_2_)" width="2560" height="1440" id="rect4" style="display:inline" sodipodi:insensitive="true" />&%2310;&%2310;<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="715.3354" y1="1674.8174" x2="715.3352" y2="234.8213" gradientTransform="matrix(1 0 0 -1 564 1675)">&%2310;<stop offset="0" style="stop-color:%231D1112" id="stop5" />&%2310;<stop offset="1" style="stop-color:%2314121B" id="stop6" />&%2310;</linearGradient>&%2310;<rect x="-0.66399997" y="0.183" opacity="0.7" fill="url(%23SVGID_3_)" enable-background="new " width="2560" height="1439.996" id="rect6" style="display:inline" sodipodi:insensitive="true" />&%2310;</g>&%2310;</svg>');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.4285714286;
  letter-spacing: 0.05rem;
  border-top: 0.25rem solid rgb(246, 234, 127);
  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--color-light);
  overflow: hidden !important;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* assign font to headings */
}
html body .btn.btn-outline-dark,
html body .form-control,
html body .btn.btn-outline-light {
  border-radius: 0;
}
html body a,
html body button {
  text-transform: uppercase;
  text-decoration: none;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}
html body .hero {
  background-position: center;
  padding: 10px 0;
  margin-top: 80px;
  padding-bottom: 80px;
  height: calc(100vh - env(safe-area-inset-bottom));
  text-align: center;
  display: flex !important;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Centers horizontally and vertically */
}
html body .hero #hero-video-background {
  background-color: var(--color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
html body .hero #hero-video-loaded {
  background-color: transparent; /* Remove background color when video loads */
}
html body .hero .hero__title {
  -moz-columns: 50%;
       columns: 50%;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin: 15px 10px;
  z-index: 1;
}
html body .hero .hero__text {
  font-size: 24px;
  text-align: center;
  z-index: 1;
}
html body .hero a {
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
html body .hero a:hover {
  background-color: var(--color-accent-hover);
}
html body .about {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start;
  padding: 1% 0;
}
html body .about .about__major-text {
  font-size: 16px;
  font-weight: 700;
}
html body .about .column {
  flex: 50%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .about .about__text {
  padding: 0 15px;
  text-align: center;
}
html body .about .about__img {
  padding: 0 15px;
  text-align: center;
}
html body .how-we-do-it-with-team {
  display: flex;
  flex-direction: row; /* Stack elements horizontally */
  align-items: flex-start;
  padding: 1% 0;
}
html body .how-we-do-it-with-team .how-we-do-it-with-team__major-text {
  font-size: 16px;
  font-weight: 700;
}
html body .how-we-do-it-with-team .column-1 {
  flex: 70%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 {
  flex: 30%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 .team-member-name {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-accent);
  padding: 5px 12px;
  border-bottom: var(--color-text) 2px solid;
}
html body .how-we-do-it-with-team .column-2 .team-member-name img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text {
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text small {
  font-size: 12px;
  font-weight: 400;
}
html body .how-we-do-it-with-team .column-2 .team-member-skills {
  padding: 5px 12px;
}
html body .client-banner {
  background-color: var(--color-text);
}
html body .client-banner img {
  margin: 0 auto;
}
html body .ytbg {
  background-image: url(../images/svg/youtube.svg), linear-gradient(0deg, rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--color-accent);
}/*# sourceMappingURL=style.css.map */