/* ---------------------------------
* This file contains all styles
* related site/application.
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
/* ---------------------------------
* list all colors here for themes
* this file is imported in 
* Main.scss & all other theme scss
* files
----------------------------------*/
:root {
  --color-primary: #06f;
  --color-secondary: #3e78b1;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fafaf5;
  --color-text: #2e2e38;
  --color-accent: #fd3;
  --color-accent-hover: #f3a712;
}

.prime-red {
  color: rgb(255, 55, 122);
}

.prime-blue {
  color: rgb(55, 176, 255);
}

.prime-yellow {
  color: rgb(246, 228, 65);
}

.prime-green {
  color: rgb(97, 187, 148);
}

.prime-gray {
  color: rgb(127, 127, 127);
}

h1 {
  font-size: calc(2.617924px * 1.325rem);
  letter-spacing: calc(0.05rem / 1.618);
  line-height: calc(1.325rem + 0.9vw);
  font-weight: 800;
}

h2 {
  font-size: calc(1.618px * 1.325rem);
  letter-spacing: calc(0.05rem / 1.618);
  line-height: calc(1.325rem + 0.9vw);
  font-weight: 800;
}

h3 {
  font-size: calc(1px * 1.325rem);
  letter-spacing: calc(0.05rem / 1.618);
  line-height: calc(1.325rem + 0.9vw);
  font-weight: 800;
}

body {
  font-size: calc(0.6180469716px * 1.325rem);
  font-family: "Golos Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  font-size: calc((1.325rem + 0.9vw) / 1.618);
  letter-spacing: calc(0.05rem / 1.618);
  line-height: calc(1.325rem + 0.9vw);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}

footer {
  bottom: 0 !important;
  height: auto;
  width: 100%;
  background-color: var(--color-accent-hover);
  border-bottom: 10px solid rgb(246, 234, 127);
  color: var(--color-text);
}
footer .btn.btn-default:hover {
  background-image: linear-gradient(45deg, rgb(36, 25, 45), rgb(77, 26, 25));
  color: var(--color-light);
}
footer a:hover {
  background-image: linear-gradient(45deg, rgb(36, 25, 45), rgb(77, 26, 25));
  color: var(--color-light);
}

nav {
  width: 100%; /* default width */
  max-width: 100vw; /* full width */
  z-index: 1000;
  background-color: var(--color-accent);
  border: var(--color-accent-hover) 2px solid;
  border-top: 0.25rem solid rgb(246, 234, 127);
}
nav .navbar-brand {
  transform: translateX(-50%);
}
nav .navbar-brand-img {
  height: 60px;
}
nav .logo {
  padding: 0 15px;
}

@media only screen and (max-width: 360px) {
  .navbar {
    width: 356px;
  }
}
html {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html body {
  padding: 0;
  margin: 0;
  width: 100vw;
  border-top: 0.25rem solid rgb(246, 234, 127);
}
html body .btn.btn-outline-dark,
html body .form-control,
html body .btn.btn-outline-light,
html body #subscribeButton,
html body .btn.btn-default {
  border-radius: 0;
}
html body a,
html body button {
  text-transform: uppercase;
  text-decoration: none;
}
html body .hero {
  padding: 10px;
  height: calc(100vh - env(safe-area-inset-bottom));
  text-align: center;
  display: flex !important;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Centers horizontally and vertically */
  align-items: center; /* Centers vertically */
  overflow: hidden;
  color: var(--color-background);
}
html body .hero #hero-video-background {
  background-color: var(--color-text);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
html body .hero #hero-video-loaded {
  background-color: transparent; /* Remove background color when video loads */
}
html body .hero .hero__title {
  line-height: 56px;
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  margin: 15px 10px;
  z-index: 1;
  color: var(--color-background);
}
html body .hero .hero__text {
  font-weight: 24px;
  text-align: center;
  z-index: 1;
}
html body .hero a {
  background-color: var(--color-accent);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
html body .hero a:hover {
  background-color: var(--color-accent-hover);
}
html body .about {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Centers horizontally */
}
html body .about .row {
  --bs-gutter-x: 0;
  display: flex;
}
html body .about .col,
html body .about .col-sm,
html body .about .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body .about .col-sm img {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .about .about__major-text {
  font-weight: 550;
}
html body .about .vvg-online-what-we-do-row {
  background-color: #fdfbe4;
  color: var(--color-text);
}
html body .about .vvg-online-our-services-are-must-row {
  background-color: #597ba8;
  color: var(--color-background);
}
html body .about .column {
  flex: 50%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .about .about__text {
  padding: 0 15px;
  text-align: center;
}
html body .about .about__img {
  padding: 0 15px;
  text-align: center;
}
html body .how-we-do-it-with-team {
  display: flex;
  flex-direction: row; /* Stack elements horizontally */
  align-items: flex-start;
  padding: 1% 0;
}
html body .how-we-do-it-with-team .how-we-do-it-with-team__major-text {
  font-size: 16px;
  font-weight: 700;
}
html body .how-we-do-it-with-team .column-1 {
  flex: 70%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 {
  flex: 30%;
  padding: 0 15px;
  align-items: flex-start;
}
html body .how-we-do-it-with-team .column-2 .team-member-name {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-accent);
  padding: 5px 12px;
  border-bottom: var(--color-text) 2px solid;
}
html body .how-we-do-it-with-team .column-2 .team-member-name img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text {
  align-self: center;
}
html body .how-we-do-it-with-team .column-2 .team-member-name .team-member-name__text small {
  font-size: 12px;
  font-weight: 400;
}
html body .how-we-do-it-with-team .column-2 .team-member-skills {
  padding: 5px 12px;
}
html body .client-banner {
  background-color: var(--color-text);
}
html body .client-banner img {
  margin: 0 auto;
}
html body .ytbg {
  background-image: url(../images/svg/youtube.svg), linear-gradient(0deg, rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-color: rgb(255, 55, 122) rgb(246, 228, 65);
}

@media (min-width: 992px) {
  .hero {
    height: 100vh;
    overflow: hidden;
  }
  .hero #hero-video-background {
    background-color: var(--color-text);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}/*# sourceMappingURL=style.css.map */