/* #region animation */
@keyframes translateUpFadeIn {
    0% {
        opacity: 0;
        transform: translate(0, 10%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes translateDownFadeIn {
    0% {
        opacity: 0;
        transform: translate(0, -10%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* #endregion animation */

/*#region circles*/


@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}
/* END Animated Circles CSS */



/*#endregion circles*/