@page "/DesignThinking"

<PageTitle>
    VVGonline - Design Thinking
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description" content="VVGonline provide introduction to Design Thinking" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline provide introduction to Design Thinking" />
    <meta name="og:description" content="VVGonline provide introduction to Design Thinking" />
    <meta property="og:image"
        content="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/designThinking.png?raw=true" />
</HeadContent>

<header>
    <article>
        <h1 class="display-1">
            VVGonline provides an introduction to Design Thinking
        </h1>
    </article>
    @* banner *@
    <div class="text-center py-1">
        <img src="./images/banners/VVGonlineDesignThinking.png"
            alt="VVGonline provides an introduction to Design Thinking" class="img-fluid rounded">
    </div>
    <hr>
    <article>
        <!-- intro -->
        <p class="lead text-muted">
            It is known and proven by history <i>
                "people with passion can change the world for better"
            </i>.
            These people see things in new ways.
            <br>
        <div class="h3">
            <blockquote class="blockquote">
                <b>
                    They imagine, create, invent.
                </b>
            </blockquote>
        </div>
        <br>
        <div class="h5">
            Our design thinking methodology is for these kinds of people.
            <br>
            While some might see them as the crazy ones.
        </div>
        <div class="h3">
            <b>
                We see genius.
            </b>
        </div>
        </p>
    </article>
</header>
<!-- What is Design Thinking? -->
<section class="container py-5">
    <section class="row">
        <div class="col-3">
            @* date/tag/author *@
            <div>
                <span>
                    <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
                </span>
                <span>
                    12 Oct 2023
                </span>
            </div>
            <div>
                <span>
                    <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
                </span>
                <span>
                    <a href="DesignThinking" class="btn btn-defualt">
                        Digital Thinking
                    </a>
                </span>
            </div>
            <div>
                <span>
                    <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
                </span>
                <span>
                    <a href="about">
                        VVGonline
                    </a>
                </span>
            </div>
        </div>
        <div class="col col-8">
            @* What is Design Thinking? *@
            <div>
                <h3>
                    What is Design Thinking?
                </h3>
                <p>
                    Design thinking is a problem-solving approach that has gained popularity in recent years. It is a
                    human-centric approach to innovation that involves understanding the needs of the user and
                    developing
                    solutions that meet those needs. In this article, we will explore the basics of design thinking and
                    its
                    applications.
                </p>
                <p> Design thinking methodology involves cross-functional
                    teams working together to develop solutions that meet the user’s needs. Meaning Design thinking is
                    not a
                    single method or tool, but a mindset and a process that involves five stages: empathize, define,
                    ideate,
                    prototype, and test:
                <ul class="h5">
                    <li>
                        <b>
                            Empathize:
                        </b>
                        In this stage, the team seeks to understand the user’s needs and challenges. This involves
                        conducting research, observing users, and gathering data.
                    </li>
                    <li>
                        <b>
                            Define:
                        </b>
                        In this stage, the team defines the problem based on the insights gathered in the empathize
                        stage.
                        The team creates a problem statement that guides the ideation process
                    </li>
                    <li>
                        <b>
                            Ideate:
                        </b>
                        In this stage, the team generates ideas for solutions to the problem. The team uses
                        brainstorming
                        techniques to generate a wide range of ideas.

                    </li>
                    <li>
                        <b>
                            Prototype:
                        </b>
                        In this stage, the team creates a prototype of the solution. The prototype can be a physical
                        model
                        or a digital representation of the solution.
                    </li>
                    <li>
                        <b>
                            Test:
                        </b>
                        In this stage, the team tests the prototype with users to gather feedback. The feedback is used
                        to
                        refine the solution and make improvements.
                    </li>
                </ul>
                </p>
            </div>
            @* deep interest *@
            <div>
                <p>
                    Thus, design thinking revolves around a deep interest to understand the people for whom we design
                    product or
                    services.
                <ul class="h5">
                    <li>
                        It also help us observe and develop empathy with the target users.
                    </li>
                    <li>
                        Enhances our ability to question. In design thinking you question the problem, the assumptions
                        and
                        the
                        implications.
                    </li>
                    <li>
                        Design thinking approach prove extremely useful when you tackle a problems that are ill defined
                        or
                        unknown.
                    </li>
                    <li>
                        Involves on going experimentation through sketches prototypes testing and trials of new concepts
                        and
                        ideas.
                    </li>
                </ul>
                </p>
            </div>
            <!-- Applications of Design Thinking -->
            <div>
                <h3>
                    Applications of Design Thinking
                </h3>
                <p>
                    Design thinking can be applied to a wide range of problems and challenges. It is commonly used in
                    product development, but it can also be used in other areas such as service design, organizational
                    change, and social innovation.
                    <br>
                    Here are some examples of how design thinking can be applied:
                <ol class="h5">
                    <li>
                        <b>
                            Product Development:
                        </b>
                        Design thinking can be used to develop new products or improve existing ones. By understanding
                        the
                        user’s needs and challenges, teams can develop products that meet those needs.
                    </li>
                    <li>
                        <b>
                            Service Design:
                        </b>
                        Design thinking can be used to design services that meet the user’s needs. By understanding the
                        user’s journey and pain points, teams can develop services that are more effective and
                        efficient.
                    </li>
                    <li>
                        <b>
                            Organizational Change:
                        </b>
                        Design thinking can be used to drive organizational change. By involving employees in the change
                        process and understanding their needs and challenges, teams can develop solutions that are more
                        effective.
                    </li>
                    <li>
                        <b>
                            Social Innovation:
                        </b>
                        Design thinking can be used to address social challenges such as poverty, healthcare, and
                        education.
                        By understanding the needs of communities and developing solutions that meet those needs, teams
                        can
                        create positive social impact.
                    </li>
                </ol>
                </p>
            </div>
            @* How Design thinking makes you think outside the box? *@
            <div>
                <h3>
                    How Design thinking makes you think outside the box?
                </h3>
                <p>
                <ul class="h5">
                    <li>
                        <b>
                            By attempting to develop new arrays of thinking:
                        </b>
                        finding new ways that do not abide by the dominant or more common problem solving methods
                    </li>
                    <li>
                        <b>
                            To Have the intention to improve products & services:
                        </b>
                        analyse and understand how users interact with the products or services to investigate the
                        conditions in which
                        they operate.
                    </li>
                    <li>
                        <b>
                            By Asking significant questions and challenge assumption:
                        </b>
                        out of the box thinking is too falsify previous assumptions that is to make it possible to prove
                        whether or not
                        they Are valid. and also by digging a bit deeper into problem solving. And thus, Design thinking
                        techniques and
                        strategies belong at every level of business
                    </li>
                    <li>
                        The process of design thinking is firmly based on how you can generate a holistic and empathic
                        understanding
                        of the problem that people or users face.
                    </li>
                    <li>
                        Design thinking involves ambiguous and inherently subjective concepts such as emotions needs
                        motivations and drivers of behaviour. Which makes Design thinking both an art and a science. It
                        combines investigations into ambiguous elements of the problem with rational and analytical
                        research.
                    </li>
                </ul>
                </p>
            </div>
            <div>
                <p class="lead">
                    <b>
                        In conclusion
                    </b>, design thinking is a is a creative and practical way of solving problems by <i>
                        understanding the needs and perspectives of the users, generating ideas, prototyping solutions,
                        and
                        testing them with feedback
                    </i> that can be applied to a wide
                    range of challenges, from designing products and services to improving social and environmental
                    issues.
                    By
                    understanding the user’s needs and developing solutions that meet those needs,
                    teams can create products and services that are more effective and efficient.
                </p>
            </div>
        </div>
    </section>
</section>
<footer>
    <Dotdotdot></Dotdotdot>
    @* about comp *@
    <AboutComp></AboutComp>
</footer>