@page "/DigitalMarketing"

<PageTitle>
    VVGonline - Digital Marketing
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - Digital business consultant" />
    <meta name="og:description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    <meta property="og:image" content="" />
</HeadContent>

<HeaderComp articleTitle="VVG ONLINE do Digital Marketing" articlePublishDate="October 19, 2023"
    keyLine="Marketing provides clarity towards a product or service. At the same time, it simplifies its purpose in the customer's mind. Thus, creating value for your product or service."
    bannerImagePath="./images/banners/VVGonline_do _DigitalMarketing.svg" />

<section class="container pb-5">
    @* What is Digital Marketing? *@
    <article class="display-6 py-3">
        <h2>What is Digital Marketing?</h2>
        Define marketing: The physical world we live in is full of noise and complexity. Marketing provides clarity
        towards a product or service. At the same time, it simplifies its purpose in the customer's mind.
        Thus, creating value for our product or service.

        Further, when a product or service becomes a brand, it requires constant need of investment and care to retain
        its value and positioning in this world. And, all this will in return give vitality to our product or service's
        image. When marketing uses the internet and other digital technologies, it is called Digital marketing.

        Digital marketing is also called online marketing.
    </article>
    @* forms of Digital Marketing *@
    <article>
        <h2>What are the forms of Digital Marketing</h2>
        <p class="h4 p-4">
            Digital marketing is a form of marketing that uses the internet and other digital technologies to promote
            products and services to customers. Digital marketing can take many forms, such as:
        </p>
    </article>
    @* Search engine optimization (SEO) *@
    <article>
        <h3>
            🚂 Search engine optimization (SEO)
        </h3>
        <p>
            This is a technique that aims to improve the ranking of online content on search engines, such as Google or
            Bing, by using keywords, links, and other factors that match the user's search query.
        </p>
        <a href="#" title="SEO">Know more</a>
    </article>
    @* Search engine marketing (SEM) *@
    <article>
        <h3>
            🔍 Search engine marketing (SEM)
        </h3>
        <p>
            This is a technique that involves paying for ads that appear on search engine results pages, such as Google
            Ads or Bing Ads. The ads are triggered by the user's search query and are usually based on a pay-per-click
            (PPC) model
        </p>
        <a href="#" title="SEM">Know more</a>
    </article>
    @* Content marketing *@
    <article>
        <h3>
            📃 Content marketing
        </h3>
        <p>
            This is a technique that involves creating and distributing valuable, relevant, and engaging content, such
            as blogs, videos, podcasts, eBooks, etc., to attract and retain a target audience. The content is usually
            related to the product or service that the marketer offers and aims to educate, entertain, or inspire the
            audience
        </p>
        <a href="#" title="Content marketing">Know more</a>
    </article>
    @* Content marketing *@
    <article>
        <h3>
            🌐 Social media marketing
        </h3>
        <p>
            This is a technique that involves using social media platforms, such as Facebook, Twitter, Instagram, etc.,
            to communicate with and influence potential and existing customers. The marketer can use social media to
            share content, interact with followers, build relationships, and drive traffic to their website or landing
            page.
        </p>
        <a href="#" title="Social media marketing">Know more</a>
    </article>
    @* Email marketing *@
    <article>
        <h3>
            📧 Email marketing
        </h3>
        <p>
            This is a technique that involves sending emails to a list of subscribers who have opted in to receive
            messages from the marketer. The emails can contain content, offers, promotions, newsletters, etc., that are
            relevant and personalized to the subscriber's interests and preferences. The goal of email marketing is to
            increase customer loyalty, retention, and conversion
        </p>
        <a href="#" title="Email marketing">Know more</a>
    </article>
    @* conclude *@
    <div class="h4 mt-5 p-4">
        These are some of the common types of digital marketing that marketers use to reach and engage their customers online. Digital marketing can help businesses improve their brand awareness, customer satisfaction, revenue growth, and competitive advantage
    </div>
</section>
@* about comp *@
<AboutComp></AboutComp>