@page "/DigitalMarketing"

<PageTitle>
    VVGonline - Digital Marketing
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - Digital business consultant" />
    <meta name="og:description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    <meta property="og:image" content="" />
</HeadContent>


<header class="py-3">
    <h1>
        Digital Marketing
    </h1>
    <p class="lead text-muted">
        In this blog, VVGonline will provide definitions and explain various forms of digital marketing. Let's first
        define marketing:
        <br>
        @* "The physical world we live in is full of noise and complexity. Marketing of products or services
        provides clarity eliminating the noise and simplifying its purpose in the customer's mind thus providing a
        sense of value to our product or service. Further, when a product or service becomes a brand it is in
        constant need of investment and caring to retain its value Positioning in this world and all this investment
        and caring will in return give vitality to our product or service's image. And when marketing uses the
        internet and other digital technologies it is called digital marketing *@
        <span>
            The physical world we live in is full of noise and complexity. Marketing provides clarity towards a
            product
            or service. at the same time, it simplifies its purpose in the customer's mind.
        </span>
        <span>
            <blockquote class="blockquote">
                <b>
                    Thus, creating value for our product or service
                </b>
            </blockquote>
        </span>
        <span class="h4">
            Further, when a product or service becomes a brand it is in constant need of investment and caring to
            retain its value and positioning in this world. And, all this investment and caring will in return give
            vitality to our product or service's image
        </span>
    </p>
    <p class="lead display-h6">
        When marketing uses the internet and other digital technologies, then it is called <b>digital marketing</b>.
    </p>
    @* add banner *@
    @* date/tag/author *@
    <div class="py-3">
        <span>
            <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
        </span>
        <span>
            12 Oct 2023
        </span>&nbsp;|&nbsp;
        <span>
            <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
        </span>
        <span>
            <a href="Dbc" class="btn btn-defualt">
                Digital Marketing
            </a>
        </span>&nbsp;|&nbsp;
        <span>
            <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
        </span>
        <span>
            <a href="about">
                VVGonline
            </a>
        </span>
    </div>
</header>
<hr>
<article>

</article>