@page "/DigitalMarketing"

<PageTitle>
    VVGonline - Digital Marketing
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - Digital business consultant" />
    <meta name="og:description"
        content=" this blog, VVGonline will provide definition and explain various forms of digital marketing" />
    <meta property="og:image" content="" />
</HeadContent>


<header class="mb-5">
    <article>
        <h1 class="display-1">
            Digital Marketing
        </h1>
        @* date/tag/author *@
        <div class="py-1">
            <span>
                <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
            </span>
            <span>
                12 Oct 2023
            </span>&nbsp;|&nbsp;
            <span>
                <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
            </span>
            <span>
                <a href="DigitalMarketing" class="btn btn-defualt">
                    Digital Marketing
                </a>
            </span>&nbsp;|&nbsp;
            <span>
                <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
            </span>
            <span>
                <a href="about">
                    VVGonline
                </a>
            </span>
        </div>
        @* banner *@
        <div class="text-center py-1">
            <img src="./images/banners/VVGonlineDesignThinking.png"
                alt="VVGonline provides an introduction to Design Thinking" class="img-fluid rounded">
        </div>
        <hr>
    </article>
    <article>
        <h5>
            Key Takeaways
        </h5>
    </article>
    <!-- intro -->
    <p class="lead text-muted">
        Define marketing: The physical world we live in is full of noise and complexity. Marketing provides clarity
        towards a product
        or service. At the same time, it simplifies its purpose in the customer's mind.
    <div class="h3">
        <blockquote class="blockquote">
            <b>
                Thus, creating value for our product or service.
            </b>
        </blockquote>
    </div>
    <br>
    <div class="h5">
        Further, when a product or service becomes a brand, it requires constant need of investment and care to retain
        its value and positioning in this world. And, all this will in return give vitality to our product or service's
        image. When marketing uses the internet and other digital technologies, it is called Digital marketing.
    </div>
    <div class="h3">
        <b>
            Digital marketing is also called online marketing.
        </b>
    </div>
    </p>
    @* add banner *@

</header>
<section class="container">
    <p>
        Digital marketing is a form of marketing that uses the internet and other digital technologies to promote
        products and services to customers. Digital marketing can take many forms, such as:
    </p>
    @* Search engine optimization (SEO) *@
    <article>
        <h3>
            Search engine optimization (SEO)
        </h3>
        <p>
            This is a technique that aims to improve the ranking of online content on search engines, such as Google or
            Bing, by using keywords, links, and other factors that match the user's search query.
        </p>
    </article>
    @* Search engine marketing (SEM) *@
    <article>
        <h3>
            Search engine marketing (SEM)
        </h3>
        <p>
            This is a technique that involves paying for ads that appear on search engine results pages, such as Google
            Ads or Bing Ads. The ads are triggered by the user's search query and are usually based on a pay-per-click
            (PPC) model
        </p>
    </article>
    @* Content marketing *@
    <article>
        <h3>
            Content marketing
        </h3>
        <p>
            This is a technique that involves creating and distributing valuable, relevant, and engaging content, such
            as blogs, videos, podcasts, eBooks, etc., to attract and retain a target audience. The content is usually
            related to the product or service that the marketer offers and aims to educate, entertain, or inspire the
            audience
        </p>
    </article>
    @* Content marketing *@
    <article>
        <h3>
            Content marketing
        </h3>
        <p>
            This is a technique that involves creating and distributing valuable, relevant, and engaging content, such
            as blogs, videos, podcasts, eBooks, etc., to attract and retain a target audience. The content is usually
            related to the product or service that the marketer offers and aims to educate, entertain, or inspire the
            audience
        </p>
    </article>
</section>
<footer>
    @* about comp *@
    <AboutComp></AboutComp>
</footer>