@page "/ITENV"

<PageTitle>
    VVGonline explains Information Technology Environment
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description" content="VVGonline explains Information Technology Environment" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description" content="VVGonline explains Information Technology Environment" />
    <meta property="og:image"
        content="https://www.eyaldror.com/wp-content/uploads/2017/01/people-office-group-team-1200x795.jpg" />
</HeadContent>

<header class="container py-2 col text-center">
    <h2>
        VVGonline explains Information Technology Environment
    </h2>
    @* intro *@
    <div>
        <p class="lead text-muted">
            @* TODO: intro *@
        </p>
    </div>
    <div>
        <img src="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/ItmEnv.png?raw=true"
            class="img-fluid rounded" loading="lazy" />
    </div>
    @* date/tag/author *@
    <div class="py-3">
        <span>
            <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
        </span>
        <span>
            28 Sep 2023
        </span>&nbsp;|&nbsp;
        <span>
            <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
        </span>
        <span>
            <a href="ItmTraining" class="btn btn-defualt">
                Information technology Managment
            </a>
        </span>&nbsp;|&nbsp;
        <span>
            <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
        </span>
        <span>
            <a href="about">
                VVGonline
            </a>
        </span>
    </div>
</header>
<hr>
@* Information Technology environment comprise of *@
<div>
    <p>
        Information Technology environment comprise of
    </p>
    <ol>
        <li>
            Information Technology applications : pre developed applications and custom developed applications
        </li>
        <li>
            Information Technology infrastructure: in short information technology infrastructure are the components
            required to operate and manage business' digital needs that is hardware, Software, network, operating system
            and data storage. Information Technology infrastructure products are available as downloadable software
            applications that can run on top of existing information technology resources example software define
            storage or as a online solution offered by service providers like infrastructure as a service (IaaS)
        </li>
        <li>
            Information Technology processes
            <ul>
                <li>
                    Access Information Technology environment
                </li>
                <li>
                    Manage program changes
                </li>
                <li>
                    Manage information technology operations
                </li>
            </ul>
        </li>
        <li>
            Information Technology personnel
        </li>
    </ol>
</div>
<br>
@* Types of IT infra *@
<div>
    <p>Types of IT infra
    <ul>
        <li>
            Traditional infra
        </li>
        <li>
            Cloud infra
        </li>
        <li>
            Hyper converged infra
        </li>
    </ul>
    </p>
</div>
<br>
@* Information Technology infrastructure management *@
<div>
    <p>
        Information Technology infrastructure management
    </p>
    <ol>
        <li>
            Operating system manage
        </li>
        <li>
            Cloud manage
        </li>
        <li>
            Virtualization manage
        </li>
        <li>
            Information Technology operation management
        </li>
        <li>
            IT automation
        </li>
        <li>
            Container or orchestration
        </li>
        <li>
            Configuration manage
        </li>
        <li>
            AI manage
        </li>
        <li>
            Risk manage
        </li>
        <li>
            Data manage
        </li>
    </ol>
</div>
<br>
@* three things *@
<div>
    <p>
        There are three things that happens in information technology environment management that are:
        <i>
            enhance business <br>
            information technology systems,&nbsp;
            cost reductions,&nbsp;
            better security.
        </i>
    </p>
</div>
<br>
@* How does a device interact *@
<div>
    <p>
        How does a device interact with an information technology environment
    </p>
    <ul>
        <li>
            LAN
        </li>
        <li>
            WAN
        </li>
    </ul>
</div>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>