@page "/ITENV"

<PageTitle>
    VVGonline explains Information Technology Environment
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description" content="VVGonline explains Information Technology Environment.Thinking strategically about IT. Creating an effective IT setup." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline explains Information Technology Environment.Thinking strategically about IT. Creating an effective IT setup." />
    <meta name="og:description" content="VVGonline explains Information Technology Environment.Thinking strategically about IT. Creating an effective IT setup." />
    <meta property="og:image"
        content="https://www.eyaldror.com/wp-content/uploads/2017/01/people-office-group-team-1200x795.jpg" />
</HeadContent>

<header class="container">
    @* date/tag/author *@
    <div class="py-3">
        <span>
            <a href="about">
                VVGonline
            </a>
        </span>
        <span>
            &nbsp;|&nbsp;
            October 26, 2023
        </span>
    </div>
    <h1 class="display-2">
        VVGonline explains Information Technology Environment
    </h1>
    @* intro *@
    <div class="display-6">
        Thinking strategically about IT. Creating an effective IT setup.
    </div>
    <div align="center" class="py-3 ratio ratio-16x9 embed-responsive">
        <table class="embed-responsive-item">
            <video autoplay loop controls
                poster="./images/banners/VVGonline_explains_InformationTechnologyEnvironment.png">
                <source src="./images/banners/VVGonline_explains_InformationTechnologyEnvironment.mp4"
                    type="video/mp4">
            </video>
        </table>
    </div>
</header>
<hr>
<article class="container py-5">
    @* Information Technology environment comprise of *@
    <div>
        <p>
            Information Technology environment comprise of
        </p>
        <ol class="h4">
            <li>
                Information Technology applications : pre developed applications and custom developed applications
            </li>
            <li>
                Information Technology infrastructure: in short information technology infrastructure are the components
                required to operate and manage business' digital needs that is hardware, Software, network, operating
                system
                and data storage. Information Technology infrastructure products are available as downloadable software
                applications that can run on top of existing information technology resources example software define
                storage or as a online solution offered by service providers like infrastructure as a service (IaaS)
            </li>
            <li>
                Information Technology processes
                <ul>
                    <li>
                        Access Information Technology environment
                    </li>
                    <li>
                        Manage program changes
                    </li>
                    <li>
                        Manage information technology operations
                    </li>
                </ul>
            </li>
            <li>
                Information Technology personnel
            </li>
        </ol>
    </div>
    <br>
    @* Types of IT infra *@
    <div>
        <p>Types of IT infra
        <ul class="h5">
            <li>
                Traditional infra
            </li>
            <li>
                Cloud infra
            </li>
            <li>
                Hyper converged infra
            </li>
        </ul>
        </p>
    </div>
    <br>
    @* Information Technology infrastructure management *@
    <div>
        <p>
            Information Technology infrastructure management
        </p>
        <ol class="h5">
            <li>
                Operating system manage
            </li>
            <li>
                Cloud manage
            </li>
            <li>
                Virtualization manage
            </li>
            <li>
                Information Technology operation management
            </li>
            <li>
                IT automation
            </li>
            <li>
                Container or orchestration
            </li>
            <li>
                Configuration manage
            </li>
            <li>
                AI manage
            </li>
            <li>
                Risk manage
            </li>
            <li>
                Data manage
            </li>
        </ol>
    </div>
    <br>
    @* three things *@
    <div>
        <p>
            There are three things that happens in information technology environment management that are:
            <blockquote>
                🧑‍💻 enhance business information technology systems,<br>
                💴 cost reductions,<br>
                🔒 better security.
            </blockquote>
        </p>
    </div>
    <br>
    @* How does a device interact *@
    <div>
        <p>
            How does a device interact with an information technology environment
        </p>
        <ul class="h5">
            <li>
                LAN
            </li>
            <li>
                WAN
            </li>
        </ul>
    </div>
</article>

@* about comp *@
<AboutComp></AboutComp>