@page "/ItmTraining"

<PageTitle>VVGonline expertises in ITM</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

@* header *@
<HeaderComp articleTitle="VVGonline do Information technology management (ITM)" articlePublishDate="September 28, 2023"
    keyLine="Information technology management is the discipline whereby all of the IT resources of a business are managed in accordance with its needs and priorities"
    bannerImagePath="./images/banners/itm.png" />

@* artical *@
<section class="container py-3">
    <div>
        <p class="h3 px-4 py-4">
            Managing the responsibility within a business entail many of the basic management functions, like budgeting,
            staffing, change management, and organizing and controlling .
        </p>
        <br>
        <p class="">
            ITM also involves some special skills that are are unique to technology, such as <a href="#">DESIGNING AND
                DEVELOPING
                SOFTWARE</a>, <a href="#">NETWORK PLANNING</a>, <a href="#">TECH SUPPORT</a> etc.
        </p>
    </div>
    <article>
        <h3>
            What happens in information technology management (ITM)?
        </h3>
    </article>
    @* What happens in information technology management? *@
    <div>
        <p>
        <ul class="h5">
            <li>
                Determining business requirements for IT systems
            </li>
            <li>
                Managing IT budgets and costs
            </li>
            <li>
                Monitoring safety and compliance
            </li>
            <li>
                Controlling system and network security
            </li>
            <li>
                Implemented new software hardware and data systems
            </li>
            <li>
                Providing technical or help desk support
            </li>
        </ul>
        </p>
    </div>
    @* So what does all this do? *@
    <article>
        <h3>So, what does all this do?</h3>
        <p>
            Determines Information Technology strategies and goals for the business and ensure they are implemented.
        </p>
        <p>
            Processes, Software/Hardware, and Systems using a business environment to conduct day-to-day operations.
        </p>
    </article>
    @* Advantages of Information technology management *@
    <article>
        <h3>Advantages of Information technology management</h3>
        <ul class="h5">
            <li>
                There are very few business processes that do not depend on or cannot benefit from information
                technology.
            </li>
            <li>
                Information technology management allows businesses to manage their data efficiently regardless of
                its
                form.
            </li>
            <li>
                Information technology management allow employees to be more productive, but it can also be tailored
                to
                suit a company's specific needs.
            </li>
        </ul>
    </article>
    @* paths of itm *@
    <div>
        <p class="py-3">
            Information technology management have several career paths as it has best of both worlds that is
            business
            and
            information technology, and it requires strong analytical and mathematical problem-solving skills such
            as:
        </p>
        <ul class="h5">
            <li>
                <a href="#">
                    Project management
                </a>
            </li>
            <li>
                <a href="#">
                    Project management
                </a>
            </li>
            <li>
                <a href="#">
                    Data organization and analysis
                </a>
            </li>
            <li>
                <a href="#">
                    System analysis design and organization
                </a>
            </li>
            <li>
                <a href="#">
                    Software and Hardware assessment
                </a>
            </li>
        </ul>
    </div>
    @* Important points: *@
    <article>
        <h4>
            Important points:
        </h4>
        <p>
            Workers in ITM are considered part of skilled workforce and sometimes
            referred to as knowledge workers.
        </p>
        <p>
            In addition to typical IT skill set a career in ITM
            requires strong interpersonal skills, management ability and collaborative problem-solving skills.
        </p>
    </article>
    @* Common roles in information technology management *@
    <article>
        <h4>
            Common roles in information technology management
        </h4>
        <ul class="h5">
            <li>
                <a href="#">
                    Software developers
                </a>
            </li>
            <li>
                <a href="#">
                    Database & system administrators
                </a>
            </li>
            <li>
                <a href="#">
                    Information Security analyst
                </a>
            </li>
        </ul>
    </article>
    @* footer *@
    @* <div class="h4">

    Also sometime known as information systems. "VVG online" expertise in providing ITM (information Technology
    Management) training to beginners and professionals alike. Go to our
    <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
    title="VVGonline's YouTube channel">YouTube</a> channel to view our free learning videos.
    </div> *@
</section>
@* about comp *@
<AboutComp></AboutComp>