@page "/ItmTraining"

<PageTitle>🧑‍💻 VVGonline do Information technology management (ITM)</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<SeoHeader></SeoHeader>

@* header *@
<HeaderComp articleTitle="VVGonline do Information technology management (ITM)" articlePublishDate="September 28, 2023"
    keyLine="Information technology management is the discipline whereby all of the IT resources of a business are managed in accordance with its needs and priorities"
    bannerImagePath="./images/banners/ITM.png" />

@* artical *@
<section class="container py-3">
    <div>
        <p class="h3 px-4 py-4">
            Managing the responsibility within a business entail many of the basic management functions, like budgeting,
            staffing, change management, and organizing and controlling .
        </p>
        <br>
        <p class="">
            ITM also involves some special skills that are are unique to technology, such as <a href="#">DESIGNING AND
                DEVELOPING
                SOFTWARE</a>, <a href="#">NETWORK PLANNING</a>, <a href="#">TECH SUPPORT</a> etc.
        </p>
    </div>
    <article>
        <h3>
            What happens in information technology management (ITM)?
        </h3>
    </article>
    @* What happens in information technology management? *@
    <div>
        <p>
        <ul class="h4">
                @* Determining business requirements for IT systems *@
            <li class="small">
                <b>Determining business requirements for IT systems:</b>
                <span>
                    <i>
                        is a vital aspect of cybersecurity that aims to protect computer networks and systems from
                        internal and external threats and attacks. Controlling system and IT network security involves
                        implementing a combination of various security controls, such as:
                    </i>
                </span>
                <span>
                    <i>
                        is a crucial step in the development and implementation of software or system projects. Business
                        requirements are the needs and expectations of the stakeholders, such as customers, users,
                        managers, sponsors, etc., that the project must fulfil. Business requirements help to define the
                        scope, objectives, and deliverables of the project, as well as the quality, cost, and time
                        constraints.
                    </i>
                    <br><br>
                        @* different methods and techniques for determining business requirements for IT system *@
                    <span>
                        There are different methods and techniques for determining business requirements for IT systems,
                        depending on the nature and complexity of the project. Some of the common methods and techniques
                        are:
                        <ul>
                            <li>
                                <b>Interviews</b> 🎙️
                            </li>
                            <li>
                                <b>Questionnaires</b> ❔
                            </li>
                            <li>
                                <b>Workshops</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
                                    class="bi bi-tools" viewBox="0 0 16 16">
                                    <path
                                        d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
                                </svg>
                            </li>
                            <li>
                                <b>Observation</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="azure"
                                    class="bi bi-binoculars" viewBox="0 0 16 16">
                                    <path
                                        d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z" />
                                </svg>
                            </li>
                            <li>
                                <b> Document analysis</b> 📄
                            </li>
                            <li>
                                <b>
                                    Prototyping
                                </b> 🪛
                            </li>
                        </ul>
                    </span>
                </span>
                <hr>
            </li>
                @* Managing IT budgets and costs *@
            <li class="small">
                <b>Managing IT budgets and costs:</b>
                <span><i>
                        is an important skill for IT professionals, as it helps them to align their IT spending with the
                        business goals and strategy, optimize the use of resources, and demonstrate the value of IT to
                        the
                        organization. There are different methods and techniques for managing IT budgets and costs,
                        depending on
                        the nature and complexity of the project. Some of the common methods and techniques are:
                    </i>
                    <span>
                        <ul>
                            <li><b>
                                    IT budgeting
                                </b></li>
                            <li><b>
                                    IT cost management
                                </b></li>
                            <li><b>
                                    IT cost optimization
                                </b></li>
                            <li><b>
                                    Define IT expense types and categories
                                </b></li>
                            <li><b>
                                    Review and audit previous budgets
                                </b></li>
                            <li><b>
                                    Maintain a level of flexibility
                                </b></li>
                            <li><b>
                                    Plan your budget accordingly
                                </b></li>
                        </ul>
                    </span>
                </span>
                <hr>
            </li>
                @* Monitoring safety and compliance *@
            <li class="small">
                <b>
                    Monitoring safety and compliance:
                </b>
                <span>
                    <i>
                        is a process of ensuring that an organization follows the relevant laws, regulations, standards,
                        and best practices related to its IT systems and networks. Monitoring safety and IT compliance
                        can help to prevent or mitigate security risks, data breaches, legal liabilities, reputational
                        damages, and operational disruptions. Monitoring safety and IT compliance can also help to
                        improve the performance, quality, and reliability of IT products and services.
                    </i>
                    <br><br>
                    There are different methods and techniques for monitoring safety and IT compliance, depending on the
                    nature and complexity of the IT systems and networks. Some of the common methods and techniques are:
                    <span>
                        <ul>
                            <li>
                                <b>Compliance monitoring software</b> ☑️
                            </li>
                            <li>
                                <b>Application monitoring software</b>
                            </li>
                            <li>
                                <b>Network monitoring software</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                    class="bi bi-wifi" viewBox="0 0 16 16">
                                    <path
                                        d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z" />
                                    <path
                                        d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z" />
                                </svg>
                            </li>
                            <li>
                                <b>Cloud monitoring software</b> ☁️
                            </li>
                        </ul>
                    </span>
                    <br>
                    <span>
                        <i>
                            Monitoring safety and IT compliance requires following some best practices and standards,
                            such
                            as:
                            <ul>
                                <li><b>
                                        ISO 37301:2021
                                    </b></li>
                                <li><b>NIST Cybersecurity Framework</b></li>
                                <li><b> GDPR (General Data Protection Regulation)</b></li>
                            </ul>
                        </i>
                    </span>
                </span>
                <hr>
            </li>
            <li class="small">
                <b>
                    Controlling system and IT network security:
                </b>
                <span>
                    <i>
                        is a vital aspect of cybersecurity that aims to protect computer networks and systems from
                        internal and external threats and attacks. Contro
                    </i>
                    <span>
                        <ul>
                            <li>
                                <b>
                                    Physical security controls
                                </b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0ff"
                                    class="bi bi-lock" viewBox="0 0 16 16">
                                    <path
                                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                                </svg>
                            </li>
                            <li>
                                <b>
                                    Digital security controls
                                </b> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="	#37b0ff"
                                    class="bi bi-fingerprint" viewBox="0 0 16 16">
                                    <path
                                        d="M8.06 6.5a.5.5 0 0 1 .5.5v.776a11.5 11.5 0 0 1-.552 3.519l-1.331 4.14a.5.5 0 0 1-.952-.305l1.33-4.141a10.5 10.5 0 0 0 .504-3.213V7a.5.5 0 0 1 .5-.5Z" />
                                    <path
                                        d="M6.06 7a2 2 0 1 1 4 0 .5.5 0 1 1-1 0 1 1 0 1 0-2 0v.332c0 .409-.022.816-.066 1.221A.5.5 0 0 1 6 8.447c.04-.37.06-.742.06-1.115V7Zm3.509 1a.5.5 0 0 1 .487.513 11.5 11.5 0 0 1-.587 3.339l-1.266 3.8a.5.5 0 0 1-.949-.317l1.267-3.8a10.5 10.5 0 0 0 .535-3.048A.5.5 0 0 1 9.569 8Zm-3.356 2.115a.5.5 0 0 1 .33.626L5.24 14.939a.5.5 0 1 1-.955-.296l1.303-4.199a.5.5 0 0 1 .625-.329Z" />
                                    <path
                                        d="M4.759 5.833A3.501 3.501 0 0 1 11.559 7a.5.5 0 0 1-1 0 2.5 2.5 0 0 0-4.857-.833.5.5 0 1 1-.943-.334Zm.3 1.67a.5.5 0 0 1 .449.546 10.72 10.72 0 0 1-.4 2.031l-1.222 4.072a.5.5 0 1 1-.958-.287L4.15 9.793a9.72 9.72 0 0 0 .363-1.842.5.5 0 0 1 .546-.449Zm6 .647a.5.5 0 0 1 .5.5c0 1.28-.213 2.552-.632 3.762l-1.09 3.145a.5.5 0 0 1-.944-.327l1.089-3.145c.382-1.105.578-2.266.578-3.435a.5.5 0 0 1 .5-.5Z" />
                                    <path
                                        d="M3.902 4.222a4.996 4.996 0 0 1 5.202-2.113.5.5 0 0 1-.208.979 3.996 3.996 0 0 0-4.163 1.69.5.5 0 0 1-.831-.556Zm6.72-.955a.5.5 0 0 1 .705-.052A4.99 4.99 0 0 1 13.059 7v1.5a.5.5 0 1 1-1 0V7a3.99 3.99 0 0 0-1.386-3.028.5.5 0 0 1-.051-.705ZM3.68 5.842a.5.5 0 0 1 .422.568c-.029.192-.044.39-.044.59 0 .71-.1 1.417-.298 2.1l-1.14 3.923a.5.5 0 1 1-.96-.279L2.8 8.821A6.531 6.531 0 0 0 3.058 7c0-.25.019-.496.054-.736a.5.5 0 0 1 .568-.422Zm8.882 3.66a.5.5 0 0 1 .456.54c-.084 1-.298 1.986-.64 2.934l-.744 2.068a.5.5 0 0 1-.941-.338l.745-2.07a10.51 10.51 0 0 0 .584-2.678.5.5 0 0 1 .54-.456Z" />
                                    <path
                                        d="M4.81 1.37A6.5 6.5 0 0 1 14.56 7a.5.5 0 1 1-1 0 5.5 5.5 0 0 0-8.25-4.765.5.5 0 0 1-.5-.865Zm-.89 1.257a.5.5 0 0 1 .04.706A5.478 5.478 0 0 0 2.56 7a.5.5 0 0 1-1 0c0-1.664.626-3.184 1.655-4.333a.5.5 0 0 1 .706-.04ZM1.915 8.02a.5.5 0 0 1 .346.616l-.779 2.767a.5.5 0 1 1-.962-.27l.778-2.767a.5.5 0 0 1 .617-.346Zm12.15.481a.5.5 0 0 1 .49.51c-.03 1.499-.161 3.025-.727 4.533l-.07.187a.5.5 0 0 1-.936-.351l.07-.187c.506-1.35.634-2.74.663-4.202a.5.5 0 0 1 .51-.49Z" />
                                </svg>
                            </li>
                            <li>
                                <b>
                                    Cybersecurity controls
                                </b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6ff41"
                                    class="bi bi-shield-check" viewBox="0 0 16 16">
                                    <path
                                        d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                    <path
                                        d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                            </li>
                            <li>
                                <b>
                                    Cloud security controls
                                </b>
                                ☁️
                            </li>
                        </ul>
                    </span>
                </span>
                <hr>
            </li>
            <li class="small">
                <b>
                    Implementing new software/hardware and data systems:
                </b>
                <span>
                    <i>
                        Implementing new software/hardware and data systems
                        is a process of integrating new technologies into an organization's workflow and operations. It
                        involves selecting, installing, configuring, testing, and deploying the new solutions to meet
                        the organization's needs and objectives. Implementing new software/hardware and data systems can
                        bring various benefits to an organization, such as improving efficiency, productivity, quality,
                        security, innovation, and customer satisfaction. However, it can also pose various challenges
                        and risks, such as compatibility issues, data migration errors, user resistance, training costs,
                        and project delays.
                    </i>
                    <span>
                        To successfully implement new software/hardware and data systems, an organization needs to
                        follow some best practices and steps, such as:
                        <ul>
                            <li><b>Conducting a thorough analysis of the current situation and the desired outcomes</b>
                                📈
                            </li>
                            <li><b>Evaluating and selecting the most suitable solutions for the organization</b></li>
                            <li><b>Planning and preparing for the implementation project</b> </li>
                            <li><b>
                                    Installing and configuring the new solutions
                                </b> ⚙️</li>
                            <li><b>Migrating and testing the data</b> 🧪</li>
                            <li>
                                <b>Training and supporting the users</b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6ff41"
                                    class="bi bi-people" viewBox="0 0 16 16">
                                    <path
                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                                </svg>
                            </li>
                            <li>
                                <b>Monitoring and evaluating the implementation outcomes </b>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6ff41"
                                    class="bi bi-display" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z" />
                                </svg>
                            </li>
                        </ul>
                    </span>
                </span>
                <hr>
            </li>
            <li class="small">
                <b>
                    Providing technical or help desk support:
                </b>
                <span>
                    <i>Providing technical or help desk support is a process of assisting customers or users with their
                        technical issues or problems related to IT products or services. There are different ways of
                        providing technical or help desk support, depending on the nature and complexity of the issues
                        or problems, as well as the preferences and needs of the customers or users. Some of the common
                        ways are:</i>
                </span>
                <span>
                    <ul>
                        <li><b>Phone support </b>☎️</li>
                        <li><b>Email support </b>📧</li>
                        <li><b>Chat suppor</b>t 💬</li>
                        <li><b>Remote support</b> 🛜</li>
                        <li><b>Self-service support </b>🤖</li>
                    </ul>
                </span>
                <Dotdotdot></Dotdotdot>
            </li>
        </ul>
        </p>
    </div>
    @* So what does all this do? *@
    <article>
        <h3>So, what does all this do?</h3>
        <p>
            Determines Information Technology strategies and goals for the business and ensure they are implemented.
        </p>
        <p>
            Processes, Software/Hardware, and Systems using a business environment to conduct day-to-day operations.
        </p>
    </article>
    @* Advantages of Information technology management *@
    <article>
        <h3>Advantages of Information technology management</h3>
        <ul class="h5">
            <li>
                There are very few business processes that do not depend on or cannot benefit from information
                technology.
            </li>
            <li>
                Information technology management allows businesses to manage their data efficiently regardless of
                its
                form.
            </li>
            <li>
                Information technology management allow employees to be more productive, but it can also be tailored
                to
                suit a company's specific needs.
            </li>
        </ul>
    </article>
    @* paths of itm *@
    <div>
        <p class="py-3">
            Information technology management have several career paths as it has best of both worlds that is
            business
            and
            information technology, and it requires strong analytical and mathematical problem-solving skills such
            as:
        </p>
        <ul class="h5">
            <li>
                <a href="#">
                    Project management
                </a>
            </li>
            <li>
                <a href="#">
                    Project management
                </a>
            </li>
            <li>
                <a href="#">
                    Data organization and analysis
                </a>
            </li>
            <li>
                <a href="#">
                    System analysis design and organization
                </a>
            </li>
            <li>
                <a href="#">
                    Software and Hardware assessment
                </a>
            </li>
        </ul>
    </div>
    @* Important points: *@
    <article>
        <h4>
            Important points:
        </h4>
        <p>
            Workers in ITM are considered part of skilled workforce and sometimes
            referred to as knowledge workers.
        </p>
        <p>
            In addition to typical IT skill set a career in ITM
            requires strong interpersonal skills, management ability and collaborative problem-solving skills.
        </p>
    </article>
    @* Common roles in information technology management *@
    <article>
        <h4>
            Common roles in information technology management
        </h4>
        <ul class="h5">
            <li>
                <a href="#">
                    Software developers
                </a>
            </li>
            <li>
                <a href="#">
                    Database & system administrators
                </a>
            </li>
            <li>
                <a href="#">
                    Information Security analyst
                </a>
            </li>
        </ul>
    </article>
    @* footer *@
    @* <div class="h4">

    Also sometime known as information systems. "VVG online" expertise in providing ITM (information Technology
    Management) training to beginners and professionals alike. Go to our
    <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
    title="VVGonline's YouTube channel">YouTube</a> channel to view our free learning videos.
    </div> *@
</section>
@* about comp *@
<AboutComp></AboutComp>