@page "/ItmTraining"

<PageTitle>VVGonline expertises in ITM</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>


@* header *@
<div class="container py-5">
    <div class="text-center">
        <h2>
            VVGonline provides brief introduction of Information technology management
        </h2>
        <!-- INTRO -->
        <div class="col">
            <p class="lead text-muted">
                Information technology management or ITM is the discipline whereby
                the information technology resources of a business are managed in accordance with its needs and
                priorities.
                Managing business entails many of the basic management functions, like, change management, and
                organizing
                and
                controlling, along with other aspects that are unique to technology, like software/system design and
                development, network planning, tech support etc.
            </p>
        </div>

        <img src="./images/banners/itm.png" alt="ITM(information Technology Management)" class="img-fluid rounded"
            loading="lazy">

        @* date/tag/author *@
        <div class="py-3">
            <span>
                <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                26 Sep 2023
            </span> |
            <span>
                <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="" class="btn btn-defualt">
                    Information technology Managment
                </a>
            </span>|
            <span>
                <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="about">
                    VVGonline
                </a>
            </span>
        </div>
    </div>
</div>
<hr>
@* artical *@
<article>
    <h3>
        What happens in information technology management?
    </h3>
    @* What happens in information technology management? *@
    <div>
        <ul>
            <li>
                Determining business requirements for IT systems
            </li>
            <li>
                Managing IT budgets and costs
            </li>
            <li>
                Monitoring safety and compliance
            </li>
            <li>
                Controlling system and network security
            </li>
            <li>
                Implemented new software hardware and data systems
            </li>
            <li>
                Providing technical or help desk support
            </li>
        </ul>
    </div>

    <h3>So what does all this do? </h3>
    @* So what does all this do? *@
    <div>

        <p>
            Determines Information Technology strategies and goals for the business and ensure they are implemented.
        </p>

        <p>
            Processes, Software Hardware, and Systems using a business environment to conduct day-to-day operations.
        </p>
    </div>

    <h3>Advantages of Information technology management</h3>
    @* Advantages of Information technology management *@
    <div>
        <ul>
            <li>
                There are very few business processes that do not depend or cannot benefit from information technology
            </li>
            <li>
                Information technology management allows businesses to manage their data efficiently regardless of its
                form
            </li>
            <li>
                Information technology management allow employees to be more productive but it can also be tailor to
                suit a
                company's specific needs
            </li>
        </ul>
    </div>
    @* paths of itm *@
    <div>
        Information technology management have several career paths as it has
        best of both worlds that is business and
        information technology and it requires strong analytical and
        problem solving skills
        <ol>
            <li>
                Project management
            </li>
            <li>
                Data security and role management
            </li>
            <li>
                Data organization and analysis
            </li>
            <li>
                System analysis design and organization
            </li>
            <li>
                Software and Hardware assessment
            </li>
        </ol>
    </div>

    @* Important points: *@

    <div>
        <h4>
            Important points:
        </h4>
        <ul>
            <li>
                Workers in information technology management are considered part of skilled workforce and sometimes
                referred
                to as knowledge workers
            </li>
            <li>
                In addition to typical information technology skill set a career in information technology management
                requires strong interpersonal skills, management ability and collaborative problem solving skills
            </li>
        </ul>
    </div>
    @* Common roles in information technology management *@
    <div>
        <h4>
            Common roles in information technology management
        </h4>
        <ul>
            <li>
                Software developers
            </li>
            <li>
                Database & system administrators
            </li>
            <li>
                Information Security analyst
            </li>
        </ul>
    </div>
</article>
@* footer *@
<div class="lead text-muted">
    <i>
        Also sometime known as information systems. "VVG online" expertise in providing ITM (information Technology
        Management) training to beginners and professionals alike.
    </i>
    <i>
        Go to our
        <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
            title="VVGonline's YouTube channel">
            YouTube channel
        </a>
        to view our free learning videos.
    </i>
</div>

@* blog: ITM ENV link *@
<br>
<div>
    <p>
        Read blog: <a href="ITENV" title="Understanding IT environment">
            Understanding IT environment
        </a>.
    </p>
    <p>
        Read blog: <a href="ItmPf" title=" IT Management Present & Future">
            IT Management Present & Future
        </a>.
    </p>
</div>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>