@page "/ItmTraining"

<PageTitle>VVGonline expertises in ITM</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Information technology management or ITM is the discipline whereby the information technology resources of a business are managed in accordance with its needs and priorities. Managing business entails many of the basic management functions, like, change management, and organizing and controlling, along with other aspects that are unique to technology, like software/system design, network planning tech support etc. " />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>


@* header *@
<div class="container py-5">
    <header class="text-center">
        <h2>
            VVGonline provides brief introduction of Information technology management
        </h2>
        <!-- INTRO -->
        <div class="col">
            <p class="lead text-muted">Information technology management or ITM is the discipline whereby all of the
                information technology resources of a business are managed in accordance with its needs and priorities.
                Managing the responsibility within a business entail many of the basic management functions, like
                budgeting, staffing, change management, and organizing and controlling, along with other aspects that
                are unique to technology, like software design, network planning, tech support etc.
            </p>
        </div>
        <div>
            <img src="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/ITM.png?raw=true"
                alt="ITM(information Technology Management)" class="img-fluid rounded" loading="lazy">
        </div>

        @* date/tag/author *@
        <div class="py-3">
            <span>
                <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                26 Sep 2023
            </span>&nbsp;|&nbsp;
            <span>
                <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="ItmTraining" class="btn btn-defualt">
                    Information technology Managment
                </a>
            </span>|
            <span>
                <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="about">
                    VVGonline
                </a>
            </span>
        </div>
    </header>
    <hr>
    @* artical *@
    <article class="container py-3">
        <h3>
            What happens in information technology management?
        </h3>
        @* What happens in information technology management? *@
        <div>
            <p>
            <ul>
                <li>
                    Determining business requirements for IT systems
                </li>
                <li>
                    Managing IT budgets and costs
                </li>
                <li>
                    Monitoring safety and compliance
                </li>
                <li>
                    Controlling system and network security
                </li>
                <li>
                    Implemented new software hardware and data systems
                </li>
                <li>
                    Providing technical or help desk support
                </li>
            </ul>
            </p>
        </div>
        @* So what does all this do? *@
        <div>
            <h3>So, what does all this do?</h3>
            <p>
                Determines Information Technology strategies and goals for the business and ensure they are implemented.
            </p>

            <p>
                Processes, Software Hardware, and Systems using a business environment to conduct day-to-day operations.
            </p>
        </div>
        <h3>Advantages of Information technology management</h3>
        @* Advantages of Information technology management *@
        <div>
            <p>
            <ul>
                <li>
                    There are very few business processes that do not depend on or cannot benefit from information
                    technology.
                </li>
                <li>
                    Information technology management allows businesses to manage their data efficiently regardless of
                    its
                    form.
                </li>
                <li>
                    Information technology management allow employees to be more productive, but it can also be tailored
                    to
                    suit a company's specific needs.
                </li>
            </ul>
            </p>
        </div>
        @* paths of itm *@
        <div>
            <p>
                Information technology management have several career paths as it has best of both worlds that is
                business
                and
                information technology, and it requires strong analytical and mathematical problem-solving skills such
                as:
            <ol>
                <li>
                    Project management
                </li>
                <li>
                    Data security and role management
                </li>
                <li>
                    Data organization and analysis
                </li>
                <li>
                    System analysis design and organization
                </li>
                <li>
                    Software and Hardware assessment
                </li>
            </ol>
            </p>
        </div>
        @* Important points: *@
        <div>
            <h4>
                Important points:
            </h4>
            <p>
            <ul>
                <li>
                    Workers in information technology management are considered part of skilled workforce and sometimes
                    referred to as knowledge workers.
                </li>
                <li>
                    In addition to typical information technology skill set a career in information technology
                    management
                    requires strong interpersonal skills, management ability and collaborative problem-solving skills
                </li>
            </ul>
            </p>
        </div>
        @* Common roles in information technology management *@
        <div>
            <h4>
                Common roles in information technology management
            </h4>
            <ul>
                <li>
                    Software developers
                </li>
                <li>
                    Database & system administrators
                </li>
                <li>
                    Information Security analyst
                </li>
            </ul>
        </div>
        @* footer *@
        <div class="lead text-muted">

            Also sometime known as information systems. "VVG online" expertise in providing ITM (information Technology
            Management) training to beginners and professionals alike. Go to our
            <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
                title="VVGonline's YouTube channel">
                YouTube
            </a>channel to view our free learning videos.
        </div>
    </article>
    <footer>
        @* itm blog list with links *@
        <Dotdotdot></Dotdotdot>
        <div>
            <p class="lead">
                Following ia a list of blogs on IT Management
            </p>
            <br>
            @* VVGonline explains Information Technology Environment *@
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">VVGonline explains Information Technology Environment</h5>
                    <p class="card-text">
                        There are three things that happens in IT environment management that are:
                        enhance business
                        IT systems, cost reductions, better security.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="ITENV">
                                Read Blog
                            </a>
                        </small>
                    </p>
                </div>
            </div>
            @* VVGonline explains Information Technology Management in the Present and Future *@
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">VVGonline explains Information Technology Management in the Present and
                        Future
                    </h5>
                    <p class="card-text">TIn recent years, IT management has become increasingly important due to rapid
                        technological advancements.</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="ItmPf">
                                Read Blog
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
        @* about comp *@
        <AboutComp></AboutComp>
    </footer>
</div>