@page "/principlesOfAgile"

<PageTitle>
    12 Principles of Agile
</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Agile is one approach to project management, while Scrum is a type of Agile methodology." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Agile is one approach to project management, while Scrum is a type of Agile methodology." />
    <meta property="og:image" content="https://www.nvisia.com/hubfs/Agile-Process-Assessment.png" />
</HeadContent>

<!-- header -->
<header>
    <div class="container py-5">
        <h2 class="text-center">
            12 Principles of Agile
        </h2>
        <div class="text-center">
            <img src="./images/banners/12 Principles of Agile.png" 
                alt="12 Principles of Agile " class="img-fluid rounded" loading="lazy">
            @* date/tag/author *@
            <div class="py-3">
                <span>
                    <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    21 Sep 2023
                </span>
                <span>
                    <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    <a href="" class="btn btn-defualt">
                        Project Managment
                    </a>
                </span>|
                <span>
                    <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    <a href="about">
                        VVGonline
                    </a>
                </span>
            </div>
        </div>
    </div>
    <hr />
</header>
<article class="container">
    <div class="table-responsive-sm">
        <p class="text-center lead text-muted">
            The following 12 Principles are basis of the Agile Methodology.
        </p>

        <table class="table table-striped table-bordered">
            <!-- point 1-7 -->
            <tr class="table-active">
                <td>1</td>
                <td>
                    Agile methodology's highest priority is to satisfy the customer through early and continuous
                    delivery
                    of
                    valuable software
                </td>
                <td>7</td>
                <td>
                    Working software is the primary
                    measure of progress
                </td>
            </tr>
            <!-- point 2-8 -->
            <tr class="table-info">
                <td>2</td>
                <td>
                    Welcome changing requirements, even late
                    in development. Agile processes harness
                    change for the customer’s competitive
                    advantage
                </td>
                <td>8</td>
                <td>
                    Agile processes promote sustainable
                    development. The sponsors, developers,
                    and users should be able to maintain a
                    constant pace indefinitely.
                </td>
            </tr>
            <!-- point 3-9 -->
            <tr class="table-active">
                <td>3</td>
                <td>
                    Deliver working software frequently, from a
                    couple of weeks to a couple of months, with
                    a preference to the shorter timescale.
                </td>
                <td>9</td>
                <td>
                    Continuous attention to technical
                    excellence and good design enhances
                    agility.
                </td>
            </tr>
            <!-- point 4-10 -->
            <tr class="table-info">
                <td>4</td>
                <td>
                    Business people and developers must work
                    together daily throughout the project.
                </td>
                <td>10</td>
                <td>
                    Simplicity – the art of maximizing the amount
                    of work not done – is essential.
                </td>
            </tr>
            <!-- point 5-11 -->
            <tr class="table-active">
                <td>5</td>
                <td>
                    Build projects around motivated individuals.
                    Give them the environment and support they
                    need, and trust them to get the job done.
                </td>
                <td>11</td>
                <td>
                    The best architectures, requirements,
                    and designs emerge from self-organizing
                    teams
                </td>
            </tr>
            <!-- point 6-12 -->
            <tr class="table-info">
                <td>6</td>
                <td>
                    The most efficient and effective method of
                    conveying information to and within a development team is face-to-face conversation
                </td>
                <td>12</td>
                <td>
                    At regular intervals, the team reflects on
                    how to become more effective, then tunes
                    and adjusts its behavior accordingly
                </td>
            </tr>
        </table>
    </div>
</article>
<footer>
    <div class="text-center lead text-muted">
        Agile is one approach to project management, while Scrum is a type of Agile methodology. Learn more about the
        key differences in this
        <a href="ScrumAgile" title="SCRUM VS Agile">
            article
        </a>.
    </div>
</footer>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>