@page "/ScrumAgile"

<PageTitle>VVGonline's take on SCRUM vs Agile</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Both of these terms Scrum and Agile are being used interchangeably, which can be confusing. Let’s take a closer look at what makes Scrum and Agile important, and how and when you should implement them in project management. " />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Both of these terms Scrum and Agile are being used interchangeably, which can be confusing. Let’s take a closer look at what makes Scrum and Agile important, and how and when you should implement them in project management. " />
    <meta property="og:image"
        content="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.MY3V-D5MFrx7ynYp3d2KZAHaD4%26pid%3DApi&f=1&ipt=967bfa55e49cd0e6687464db35cc9bc97962c49859ef3f56aed8f7d28e205e72&ipo=images" />
</HeadContent>

<header class="container text-center py-5">
    <!--TODO: write a SCRUM and Agile intro -->
    <h2>
        VVGonline's take on SCRUM vs Agile
    </h2>
    <p class="lead text-muted">
        Both of these terms Scrum and Agile are being used interchangeably,
        which can be confusing. Let’s take a closer
        look at what makes Scrum and Agile important, and how and when you
        should implement them in project management.
    </p>
    <div class="text-center">
        <img src="./images/banners/scrumagile.png" alt="VGonline's take on SCRUM vs Agile" class="img-fluid rounded"
            loading="lazy">
        @* date/tag/author *@
        <div class="py-3">
            <span>
                <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                23 Sep 2023
            </span> |
            <span>
                <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="" class="btn btn-defualt">
                    Project Managment
                </a>
            </span>|
            <span>
                <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
            </span>
            <span>
                <a href="about">
                    VVGonline
                </a>
            </span>
        </div>
    </div>

</header>
<hr>
<article>
    @* Define SCRUM & Agile *@
    <div>
        <h3>Define SCRUM & Agile</h3>
        <ul>
            <li>
                <strong>Scrum</strong> : it takes Agile principles one step further creating structure that helps the
                team in the Agile principles in their day to day work scrum is a well documented Agile framework that
                many team adopt without much disruption
            </li>
            <li>
                <strong>Agile</strong> : results in a team that values individuals and interactions over processes and
                tools, working software over comprehensive documentation, customer collaboration over contract
                negotiation and responding to change over following a plan.
            </li>
        </ul>
    </div>
    @* Advantages and disadvantages of Scrum vs Agile methodology: *@
    <div>
        <h3>
            Advantages and disadvantages of Scrum & Agile methodology:
        </h3>
        <ul>
            <li>
                Agile teams have a strong "WHY" behind what they do; also have a clarity about "HOW" they do. <a
                    href="PrinciplesOfAgile" title="12 Principles of Agile">Agile principles</a> helps break huge and
                ambitious goals, work/tasks into workable chunks
                that can be delivered consistently.
            </li>
            <li>
                Small teams leverage agile better over large competitors that use waterfall delivery
            </li>
            <li>
                Agile Industrial complex : lots of resources and tools are available that are needed to learn agile and
                lot more Consultants that can help in implementation
            </li>
            <li>
                Agile help steam change direction based on market and customer feedback. This is also disadvantage as
                your team can end up doing entirely different from the goal you start up from or set out to do
            </li>
            <li>
                Because of these divergent outcomes not all teams and companies can work with an Agile way
            </li>
            <li>
                But a team that can overcome this disadvantage are able to deliver a better quality product to their
                customers in the end
            </li>
        </ul>
    </div>
    @* SCRUM functions *@
    <div>
        <h4>SCRUM functions</h4>
        <p>
            In scrum a project is divided into short cycles called sprints usually lasting from 1 to 4 weeks
        </p>
        <p>
            SCRUM Require more resources like special roles example scrum master and a lot of refactoring around a set
            of
            meeting cadence
            Not many teams can deliver quality software thus making sprints longer. Eventually back to doing
            waterfall.
        </p>
        <p>
            Each of these sprints has clear goal a plan and a set of deliverable that are reviewed and tested by
            stakeholders scrum also involves a cross functional team that works together in daily meetings and a
            scrum
            master facilitates the process and remove any obstacles.
        </p>
        <p>
            SCRUM uses sprint planning and sprint retrospective are focused on setting up teammates for success.

        </p>
    </div>
    @* Agile functions *@
    <div>
        <h4>Agile functions</h4>
        <p>
            Agile delivers a software products that meet the changing requirements and expectations of the customer.
            Agile emphasizes flexibility adaptability and continuous improvements rather than following a fixed
            detailed
            plan. It also promotes teamwork communication and customer involvement rather than relying on documentations
            and
            hierarchy.
        </p>
        <p>
            <i>
                Scrum, kaban, xp, and lean
            </i> implement agile approach.
        </p>
        <p>
            <b>Agile ships software on time</b>. More quickly customers start using it results in more customer usage
            data
            that
            helps
            informing you direction and derives growth.
        </p>
    </div>
</article>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>