@page "/strategytactics"

<PageTitle>VVGonline's take on Strategy vs Tactics</PageTitle>

<h2>VVGonline's take on Strategy vs Tactics</h2>

<div>
    <p class="lead text-muted">
        Decision making has two parts strategy and tactics both of these terms are borrowed in business from military
        terminology taken from a book <i>"Art of War"</i> by <u>Sun Tzu</u>. These terms helps to build and execute
        business decisions.
    </p>
    <a href="http://classics.mit.edu/Tzu/artwar.html" title="Art of War By Sun Tzu" target="_blank">
        <img src="https://i1.wp.com/mckoysnews.com/wp-content/uploads/2019/11/The-Art-of-War-by-Sun-Tzu.jpg"
            alt="'Art of War' by By Sun Tzu" style="width: 25em; height:auto;">
    </a>
</div>
<br>
<div>
    <h3>Let's define Strategy & Tactics</h3>
    <p>
        <strong>Definition of strategy: </strong>An Action Plan that takes you where you want to go.<br>
        <strong>Definition of Tactics: </strong>An Action Plan that consists of individual steps that will get you
        there.
    </p>
</div>
<div>
    <p>
        In the book Art of War section "VI. Weak Points and Strong point.27" it is written
    <blockquote><i>"All men can see the tactics Where by I conquer, but what none can see is this strategy out of which
            victory is evolved".</i> </blockquote>
    </p>
</div>
<div>
    <p>
        Example <i>Genghis Khan</i> creator of one of the biggest Empire in euro Asia.Let's now explore his Strategy and
        Tactics
    <ol>
        <li>
            <b>Intelligence gathering strategy</b> was very effective by developing scouting teams, that provided
            valuable intelligence which lead to capturing a fort.
        </li>
        <li>
            <b>Mobility and speed strategy</b> was implemented by horse Rider teams and thus it created a communication
            network also known as <a href="https://en.wikipedia.org/wiki/Yam_(route)" target="_blank"
                title="communication network YAM">"Yam"</a>.
        </li>
        <li>
            <b>Siege Warfare strategy</b> was implemented by encircling and isolating enemy's supplier lines and defeating
            the fortified enemies by siege tools.
        </li>
        <li>
            <b>Psychological Warfare strategy</b> was very effective by creating fear spreading propaganda like Genghis
            Khan is Invincible and power of his armies that has been undefeated in battle which caused mass confusion and
            hesitation among his enemies.
        </li>
    </ol>
    </p>
</div>
<div>
    <p>
        <strong>YAM</strong> tactics or communication network team methodology was being used in both strategy of speed
        and mobility as well as intelligence gathering.
    </p>
</div>
<div>
    <p>
        Now let's see the effect of strategy and tactics in business: to develop new clients a tactics can be cold
        calling .Now, to make strategy even bigger consider reputation that is how business is perceived by people internally
        @* TODO: check this *@
        to your company and curating on approach that reaches multiple target audience with the same narrative.
    </p>
</div>
<div>
    <p>
        <strong>
            Why are both strategy & tactics important?
        </strong>
        <br>
        One can run a business by tactics alone but cannot run an effective business without strategy under pinning A
        TACTICS.
        Yes, it will definitely take more time but developing a strategy will give business a 360 degree prospective
        understanding of all the teams and use them accordingly.
    </p>
</div>
<div>
    <p>
        Most isolated tactics stand the same chance of working which is almost none that is tactics without strategy
        have no driving force and nothing to pivot on if tactics is not working. Thus, a strategy is almost solid and
        does not change so often but a tactics can differ according to situations.
    </p>
</div>
<div>
    <p>
        <i>
            Steps of making a strategy:
        </i>
    <ul>
        <li>
            Establish a goal
        </li>
        <li>
            Name a strategy: what currently stands in the way of that goal? One needs to change to achieve your goal?
        </li>
        <li>
            Identify the tactics: how to create that change? how to overcome obstacles?
        </li>
    </ul>
    </p>
</div>
<div>
    <p>
        Now once we have the answers about three questions we can use this information and it will help create path and
        reach the goal more effectively. <strong>VVGonline</strong> helps your business develop a strategy and execute
        different tactics required by knowing various <a href="itmtraining"
            title="information technology management">information technology management</a> tools.
    </p>
</div>