@page "/strategytactics"

<PageTitle>VVGonline's take on Strategy vs Tactics</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="Decision making has two parts strategy and tactics both of these terms are borrowed in business from military terminology taken from a book 'Art of War' by Sun Tzu. These terms helps to build and execute business decisions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="Decision making has two parts strategy and tactics both of these terms are borrowed in business from military terminology taken from a book "
        Art of War" by Sun Tzu. These terms helps to build and execute business decisions. " />
    <meta property=" og:image"
        content="https://i1.wp.com/mckoysnews.com/wp-content/uploads/2019/11/The-Art-of-War-by-Sun-Tzu.jpg" />
</HeadContent>


<div class="container py-5">

    @* intro ti straytegy tactics *@
    <header>
        <div class="text-center">
            <h2>
                VVGonline's take on Strategy vs Tactics
            </h2>
            <p class="lead text-muted">
                Decision making has two parts strategy and tactics both of these terms are borrowed in business from
                military
                terminology taken from a book <strong class="font-weight: bold;">"Art of War"</strong> by <i>Sun
                    Tzu</i>.
                These terms helps to build and execute
                business decisions.
            </p>
            @* Art of War By Sun Tzu *@
            <div>
                <a href="http://classics.mit.edu/Tzu/artwar.html" title="Art of War By Sun Tzu" target="_blank">
                    <img src="https://i1.wp.com/mckoysnews.com/wp-content/uploads/2019/11/The-Art-of-War-by-Sun-Tzu.jpg"
                        alt="'Art of War' by By Sun Tzu" style="width: 25em; height:auto;" class="img-fluid rounded"
                        loading="lazy">
                </a>
            </div>
            @* date/tag/author *@
            <div class="py-3">
                <span>
                    <img src="./svg/calendar.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    19 Sep 2023
                </span> |
                <span>
                    <img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    <a href="" class="btn btn-defualt">
                        Business Managment
                    </a>
                </span>|
                <span>
                    <img src="./svg/pencil.svg" alt="" style="width: 1em; height:1em;">
                </span>
                <span>
                    <a href="about">
                        VVGonline
                    </a>
                </span>
            </div>
        </div>
    </header>
    <hr>
    @* article started *@
    <article>
        @* defination strategy tactics *@
        <div>
            <h3>Let's define Strategy & Tactics</h3>
            <p>
                <strong>Definition of strategy: </strong>An Action Plan that takes you where you want to go.<br>
                <strong>Definition of Tactics: </strong>An Action Plan that consists of individual steps that will get
                you
                there.
            </p>
        </div>
        @* aet of war *@
        <div>
            <p>
                In the book Art of War section VI <b>"Weak Points and Strong point.27"</b> it is written
            <blockquote><i>"All men can see the tactics Where by I conquer, but what none can see is this strategy out
                    of
                    which
                    victory is evolved".</i> </blockquote>
            </p>
        </div>
        @* examples of Genghis Khan strategy and tactics *@
        <div>
            <p>
                Example <i>Genghis Khan</i> creator of one of the biggest Empire in <b>EuroAsia</b>. Let's now explore
                his Strategy and Tactics:
            <ol>
                <li>
                    <b>Intelligence gathering strategy</b> was very effective by developing scouting teams, that
                    provided valuable intelligence which lead to capturing a fort.
                </li>
                <li>
                    <b>Mobility and speed strategy</b> was implemented by horse Rider teams and thus it created a
                    communication network also known as <a href="https://en.wikipedia.org/wiki/Yam_(route)"
                        target="_blank" title="communication network YAM">"Yam"</a>.
                </li>
                <li>
                    <b>Siege Warfare strategy</b> was implemented by encircling and isolating enemy's supplier lines and
                    defeating
                    the fortified enemies by siege tools.
                </li>
                <li>
                    <b>Psychological Warfare strategy</b> was very effective by creating fear spreading propaganda like
                    Genghis
                    Khan is Invincible and power of his armies that has been undefeated in battle which caused mass
                    confusion and
                    hesitation among his enemies.
                </li>
            </ol>
            </p>
            <p>
                <strong>YAM</strong> tactics or communication network team methodology was being used in both strategy
                of
                speed
                and mobility as well as intelligence gathering.
            </p>
            <p>
                Now let's see the effect of strategy and tactics in business: to develop new clients a tactics can be
                cold
                calling .Now, to make strategy even bigger consider reputation that is how business is perceived by
                people external to your company and curating on approach that reaches multiple target audience with the
                same narrative.
            </p>
        </div>
        @* Why are both strategy & tactics important? *@
        <div>
            <p>
                <strong>
                    Why are both strategy & tactics important?
                </strong>
                <br>
                One can run a business by tactics alone but cannot run an effective business without strategy under
                pinning a tactics. Yes, it will definitely take more time but developing a strategy will give business a
                360 degree prospective understanding of all the teams and use them accordingly.
            </p>
            <p>
                Most isolated tactics stand the same chance of working which is almost none that is tactics without
                strategy have no driving force and nothing to pivot on if tactics is not working. Thus, a strategy is
                almost solid and does not change so often but a tactics can differ according to situations.
            </p>
        </div>
        @* steps of making a strategy *@
        <div>
            <p>
                <i>
                    Steps of making a strategy:
                </i>
            <ul>
                <li>
                    Establish a goal
                </li>
                <li>
                    Name a strategy: what currently stands in the way of that goal? One needs to change to achieve
                    your
                    goal?
                </li>
                <li>
                    Identify the tactics: how to create that change? how to overcome obstacles?
                </li>
            </ul>
            </p>
        </div>
        @* VVGonline helps your business develop *@
        <div>
            <p>
                Now once we have the answers about three questions we can use this information and it will help
                create path and reach the goal more effectively. <strong>VVGonline</strong> helps your business develop
                a strategy and execute different tactics required by knowing various <a href="itmtraining"
                    title="information technology">information technology management</a> tools.
            </p>
        </div>
    </article>
    @* Strategy vs Tactics ended *@
</div>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>
