@page "/about"
<PageTitle>VVGonline - About</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<PageTitle>VVGonline - digital business consultant</PageTitle>

@* what i do *@
<article>
    <h1 class="display-5">About VVG online</h1>
    <div align="center" class="ratio ratio-16x9 embed-responsive">
        <table class="embed-responsive-item">
            <video autoplay loop controls poster="./images/banners/aboutVVG.png">
                <source src="./images/banners/aboutVVG.mp4" type="video/mp4">
            </video>
        </table>
    </div>
    @* intro text *@
    @* <p class="py-5">
    VVGonline help clients create change that matters — transformation, enabled by technology and
    sustained through capabilities.
    </p> *@
</article>
<hr>
@* what is vvg online *@
<article class="pb-4">
    <h2 class="h2 py-4 px-4">
        What is VVG online?
    </h2>
    <p class="lead py-3 pb-0">
        "VVG online" is an authentic represntation of
        <b>
            Vaibhav V. Gupta's
        </b> knowledge and his team of experts that wishes to share their expertise with businesses.
    </p>
    <blockquote class="py-5">
        "We are joining forces to speed up our journey towards a future that is more sustainable, inclusive, and growing
        for all."
    </blockquote>
    <p>
        VVG online is a
        <a href="Dbc">Digital Business Consultant</a>
        who is passionate about providing quality, and one
        stop digital solutions. In his time of 15 years he has gained experience and expertise creating
        customer
        advantage in all things — <a href="DesignThinking">Design thinking</a>, <a href="DigitalMarketing">Digital
            Marketing</a>, and
        <a href="itmtraining" title="Intro to Information Technology management">Information Technology Management</a>.
    </p>
    <p>
        Although it refers to a multitude of services, digital business consulting primarily focuses
        on
        efficiently implementing business strategies across digital platforms.
    </p>
</article>
@* What we do? *@
<article>
    <h2 class="h2 py-4 px-4">
        What we do?
    </h2>
    @* features *@
    <div class="row pt-1">
        @* design thinking *@
        <article class="col-sm p-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>
                            Create stunning digital experiences
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <p>We can help you design and deliver engaging and seamless experiences for your customers and
                        employees. We
                        offer services in end-to-end journey redesign, experience design.</p>
                </div>
                <div class="card-footer">
                    <a href="DesignThinking" title="hire us as Design thinking expert"
                        class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </article>
        @* digital marketing *@
        <article class="col-sm p-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>
                            Accelerate marketing &amp; sales
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        We can help you optimize your marketing and sales operations and technology, increase your
                        conversions
                        and
                        revenue, and personalize your offerings. We offer services in digital marketing operations and
                        technology,
                        digital sales, dynamic e-commerce pricing, personalization at scale.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="DigitalMarketing" title="hire us as Digital Marketing expert"
                        class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </article>
        @* itm *@
        <article class="col p-3">
            <div class="card">
                <div class="card-header">
                    <h4>Optimize your operations using ITM</h4>
                </div>
                <div class="card-body">
                    <p>With the use of ITM we can help improve your operational efficiency, effectiveness, &amp; agility
                        by using digital tools &amp; methods. We offer services in corporate capabilities, ERP, IT
                        project
                        optimization, lean IT, digitizing operations.</p>
                </div>
                <div class="card-footer">
                    <a href="itmtraining" title="hire us as Technology management "
                        class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </article>
    </div>
</article>