@page "/about"
<PageTitle>VVGonline - About</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<PageTitle>VVGonline - digital business consultant</PageTitle>

@* what i do *@
<section class="py-2 text-center container">
    <div class="row py-4">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h2 class="fw-light">About VVGonline</h2>
            @* intro text *@
            <p class="lead text-muted">
                VVGonline help clients create change that matters — transformation, enabled by technology and
                sustained through capabilities.
            </p>
            <br>
            <div>
                <img src="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/about%20vvgonline.png?raw=true" alt="VVG online"
                    class="img-fluid" loading="lazy">
            </div>
            @* Play 🎧 Learn📚 Work 💻 *@
            @* <div class="lead py-4">
            <h5>
            Our work culture
            </h5>
            Play 🎧 Learn📚 Work 💻
            </div> *@
            <article>
                @* what is vvg online *@
                <div class="py-4">
                    <h4>
                        What is VVGonline?
                    </h4>
                    <div class="lead">
                        "VVGonline" is an authentice represntation of
                        <b>
                            Vaibhav V. Gupta's
                        </b> knowledge and his team of experts that wishes to share their expertise with businesses.
                        <br>
                        Vaibhav V. Gupta is a
                        <a href="Dbc">
                            Digital Business Consultant
                        </a>
                        who is passionate about providing quality, and one
                        stop digital solutions. In his time of 15 years he has gained experience and expertise creating
                        customer
                        advantage in all things — <a href="DesignThinking">
                            Design thinking
                        </a>,
                        <a href="">
                            Digital Marketing
                        </a>and
                        <a href="itmtraining" title="Intro to Information Technology management">
                            Information Technology Management.
                        </a>
                        <div>
                            Although it refers to a multitude of services, digital business consulting primarily focuses
                            on
                            efficiently implementing business strategies across digital platforms.
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
@* hire me section *@
<div id="hireme"></div>
<div class="container-fluid col">
    <h3 class="text-center">
        Hire VVG online
    </h3>
</div>
<hr>
@* features *@
<div class="row py-3">
    @* design thinking *@
    <div class="feature col">
        <h4 class="fs-2">Create stunning digital experiences</h4>
        <p>We can help you design and deliver engaging and seamless experiences for your customers and employees. We
            offer services in end-to-end journey redesign, experience design.</p>
        <a href="#" title="hire me as Design thinking expert" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    @* marketing *@
    <div class="feature col">
        <h4 class="fs-2"> Accelerate marketing and sales</h4>
        <p>
            We can help you optimize your marketing and sales operations and technology, increase your conversions and
            revenue, and personalize your offerings. We offer services in digital marketing operations and technology,
            digital sales, dynamic e-commerce pricing, personalization at scale.
        </p>
        <a href="#" title="hire me as Digital Marketing expert" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    @* itm *@
    <div class="feature col">
        <h4 class="fs-2">Optimize your operations using IT management</h4>
        <p>With the use of Information Technology Management (ITM) we can help you improve your operational efficiency,
            effectiveness, and agility by using digital tools and methods. We offer services in corporate capabilities,
            enterprise resource planning, IT project optimization, lean IT, digitizing operations.</p>
        <a href="itmtraining" title="hire me as Technology management "
            class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
</div>
@* 5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success *@
<div class=" row text-center py-2">
    <p>
        <a href="DigitalConsultant" class="btn btn-info">
            <i>
                5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success
            </i>
        </a>
    </p>
</div>