@page "/about"
<PageTitle>VVGonline - About</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
          content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
          content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<PageTitle>VVGonline - Digital Business Consultanting</PageTitle>
<div class="container">
    @* what i do *@
    <article class="">
        <br /><br /><br />
        <h2 class="display-2">About VVG online</h2>
        @* intro text *@
       @*  <p class="h4">
            VVG ONLINE help clients create change that matters — transformation, enabled by technology and sustained
            through capabilities.
        </p> *@

        @* banner *@
        <div align="center" class="ratio ratio-16x9 embed-responsive">
            <video autoplay loop muted controls poster="./images/banners/aboutVVG.png">
                <source src="./images/banners/aboutVVG.mp4" type="video/mp4">
            </video>
        </div>
        <div class="py-2">
            <p class="lead">
                Although it refers to a multitude of services, <a href="Dbc">Digital Business Consulting (DBC)</a> primarily focuses on efficiently implementing business strategies across digital platforms by leveraging digital technologies (like power of data and AI, modernize core technology, optimize and automate operations) and channels.
            </p>
        </div>
    </article>
    
    
    @* What we do? *@
    <article>
        <h2 class="display-6">
            What we do?
        </h2>
    </article>
    @* features *@
    <section class="row pt-1">
        @* itm *@
        <div class="col-sm p-3">
            <div class="card">
                <article class="card-header">
                    <h4>Optimize your operations using Information technology management (ITM)</h4>
                </article>
                <div class="card-body">
                    <p class="">
                        With the use of ITM we can help improve your operational efficiency, effectiveness, &amp;
                        agility
                        by using digital tools &amp; methods. We offer services in corporate capabilities, ERP, IT
                        project
                        optimization, lean IT, digitizing operations.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="itmtraining" title="hire us as Technology management "
                       class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </div>
        @* design thinking *@
        <div class="col-sm p-3">
            <div class="card">
                <div class="card-header">
                    <article class="card-title">
                        <h3>
                            Design Thinking - Create stunning digital experiences
                        </h3>
                    </article>
                </div>
                <div class="card-body">
                    <p class="">
                        We can help you design and deliver engaging and seamless experiences for your customers and
                        employees. We
                        offer services in end-to-end journey redesign, experience design.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="DesignThinking" title="hire us as Design thinking expert"
                       class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </div>
        @* digital marketing *@
        <div class="col-sm p-3">
            <div class="card">
                <div class="card-header">
                    <article class="card-title">
                        <h4>
                            Digital marketing - Accelerate marketing &amp; sales
                        </h4>
                    </article>
                </div>
                <div class="card-body">
                    <p>
                        We can help you optimize your marketing and sales operations and technology, increase your
                        conversions
                        and
                        revenue, and personalize your offerings. We offer services in digital marketing operations and
                        technology,
                        digital sales, dynamic e-commerce pricing, personalization at scale.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="DigitalMarketing" title="hire us as Digital Marketing expert"
                       class="icon-link d-inline-flex align-items-center">
                        Know more
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>