@page "/about"

<PageTitle>About VVGonline</PageTitle>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About VVGonline</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                @* <a href="#" class="btn btn-primary my-2">Main call to action</a> *@
                @* <a href="#" class="btn btn-secondary my-2">Secondary action</a> *@
            </p>
        </div>
    </div>
</section>

@* features *@
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
            </svg>
        </div>
        <h3 class="fs-2">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </a>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#people-circle"></use>
            </svg>
        </div>
        <h3 class="fs-2">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </a>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#toggles2"></use>
            </svg>
        </div>
        <h3 class="fs-2">Featured title</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </a>
    </div>
</div>