@page "/about"
<PageTitle>VVGonline - About</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<PageTitle>VVGonline - digital business consultant</PageTitle>

@* what i do *@
<article class="py-5 container">
    <div class=" mx-auto">
        <h1 class="display-1">About VVGonline</h1>
        @* intro text *@
        <p class="lead text-muted">
            VVGonline help clients create change that matters — transformation, enabled by technology and
            sustained through capabilities.
        </p>
        <br>
        <div>
            <img src="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/about%20vvgonline.png?raw=true"
                alt="VVG online" class="img-fluid" loading="lazy">
        </div>
        @* Play 🎧 Learn📚 Work 💻 *@
        @* <div class="lead py-4">
        <h5>
        Our work culture
        </h5>
        Play 🎧 Learn📚 Work 💻
        </div> *@
        <div>
            @* what is vvg online *@
            <div class="py-4">
                <h4>
                    What is VVGonline?
                </h4>
                <div>
                    <p>
                        "VVGonline" is an authentice represntation of
                        <b>
                            Vaibhav V. Gupta's
                        </b> knowledge and his team of experts that wishes to share their expertise with businesses.
                    </p>
                    <p>
                        Together we’re accelerating toward a more sustainable, inclusive, and growing future for all.
                    </p>
                    <p>
                        Vaibhav V. Gupta is a
                        <a href="Dbc">
                            Digital Business Consultant
                        </a>
                        who is passionate about providing quality, and one
                        stop digital solutions. In his time of 15 years he has gained experience and expertise creating
                        customer
                        advantage in all things — <a href="DesignThinking">
                            Design thinking
                        </a>,
                        <a href="DigitalMarketing">
                            Digital Marketing
                        </a>and
                        <a href="itmtraining" title="Intro to Information Technology management">
                            Information Technology Management.
                        </a>
                    </p>
                    <p>
                        Although it refers to a multitude of services, digital business consulting primarily focuses
                        on
                        efficiently implementing business strategies across digital platforms.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
@* hire me section *@
<div id="hireme"></div>
<hr>
<div class="container-fluid py-5 col">
    <h2 class="display-4">
        How we work at VVGonline
    </h2>

    @* features *@
    <div class="row py-5">
        @* design thinking *@
        <div class="col">
            <h4 class="fs-2">Create stunning digital experiences</h4>
            <p>We can help you design and deliver engaging and seamless experiences for your customers and employees. We
                offer services in end-to-end journey redesign, experience design.</p>
            <a href="DesignThinking" title="hire me as Design thinking expert"
                class="icon-link d-inline-flex align-items-center">
                Know more
            </a>
        </div>
        @* digital marketing *@
        <div class="col">
            <h4 class="fs-2"> Accelerate marketing and sales</h4>
            <p>
                We can help you optimize your marketing and sales operations and technology, increase your conversions
                and
                revenue, and personalize your offerings. We offer services in digital marketing operations and
                technology,
                digital sales, dynamic e-commerce pricing, personalization at scale.
            </p>
            <a href="DigitalMarketing" title="hire me as Digital Marketing expert"
                class="icon-link d-inline-flex align-items-center">
                Know more
            </a>
        </div>
        @* itm *@
        <div class="col">
            <h4 class="fs-2">Optimize your operations using IT management</h4>
            <p>With the use of Information Technology Management (ITM) we can help you improve your operational
                efficiency,
                effectiveness, and agility by using digital tools and methods. We offer services in corporate
                capabilities,
                enterprise resource planning, IT project optimization, lean IT, digitizing operations.</p>
            <a href="itmtraining" title="hire me as Technology management "
                class="icon-link d-inline-flex align-items-center">
                Know more
            </a>
        </div>
    </div>
</div>
@* 5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success *@
<div class="row text-center">
    <p>
        <a href="DigitalConsultant" class="btn btn-info">
            <i>
                5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success
            </i>
        </a>
    </p>
</div>