@page "/about"

<PageTitle>About VVGonline</PageTitle>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">About VVGonline</h1>
            <p class="lead text-muted"> A common being one observes reaction. As a wise being one observes, calculates,
                and do analysis of action and cause. Thus, knows the exact reaction, he applies it to it's full
                potential.</p>
            <p>
                @* <a href="#" class="btn btn-primary my-2">Main </a> *@
                @* <a href="#" class="btn btn-secondary my-2">Secondary action</a> *@
            </p>
        </div>
    </div>
</section>

@* features *@
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="./svg/brush.svg" style="width: 3em; heigh:auto; backgound-color:#fff" />
        </div>
        <h3 class="fs-2">hire me as designer</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
            probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="./svg/code.svg" style="width: 3em; heigh:auto; color:#fff" />
        </div>
        <h3 class="fs-2">hire me as developer</h3>
        <p>Mvp: minimal vaible product to most valued product... VVGonline's Agile Methodology makes it happen for you.
        </p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="./svg/cart.svg" style="width: 3em; heigh:auto; color:#fff" />
        </div>
        <h3 class="fs-2">hire me as marketer</h3>
        <p>What is marketing : when you are able to clear doubts about you, products /services offered and build
            confidence in the mind of customers</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Know more

        </a>
    </div>
    <div class="feature col">
        <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="./svg/sun.svg" style="width: 3em; heigh:auto; color:#fff" />
        </div>
        <h3 class="fs-2">hire me as trainer</h3>
        <p>uru is a celestial being. One grows infinitely in his presence.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
</div>