@page "/about"
<PageTitle>VVGonline - About</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<PageTitle>VVGonline - digital business consultant</PageTitle>

@* what i do *@
<section class="py-2 text-center container">
    <div class="row py-4">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h2 class="fw-light">About Vaibhav V. Gupta</h2>
            <div>
                <img src="./images/banners/about vvgonline.png" alt="VVG online"
                    class="img-fluid rounded img-circle py-3" loading="lazy">
            </div>
            <p class="lead text-muted">
                Vaibhav V. Gupta is a
                <a href="Dbc">
                    Digital Business Consultant
                </a>
                who is passionate about providing quality, and one
                stop digital solutions. In his time of 15 years he has gained experience and expertise creating customer
                advantage in all things — <a href="">
                    Design thinking
                </a>,
                <a href="">
                    Digital Marketing
                </a>and
                <a href="itmtraining" title="Intro to Information Technology management">
                    Information Technology Management.
                </a>
            </p>
            @* what is vvg online *@
            <div class="py-4">
                <h4>
                    What is VVGonline?
                </h4>
                <div class="lead">
                    "VVGonline" is an authentice represntation of
                    <u>
                        Vaibhav V. Gupta's
                    </u> knowledge and his team that wishes to
                    share their expertise with clients, professionals & students.
                </div>
            </div>
            @* Play 🎧 Learn📚 Work 💻 *@
            <div class="lead py-4">
                <h5>
                    My work culture
                </h5>
                Play 🎧 Learn📚 Work 💻
            </div>
            @* <article>
            <p>
            Although it refers to a multitude of services, digital business consulting primarily focuses on
            efficiently implementing business strategies across digital platforms.
            </p>

            </article> *@
        </div>
    </div>
</section>
<hr>

@* hire me section *@
<div id="hireme"></div>
<div class="container-fluid col">
    <h4 class="text-center">
        Hire VVG online
    </h4>
    <p class="lead text-muted">
        As a digital business consultant when I meet client I always get asked how do you create transformation from
        traditional to modern; from analogue to digital. And I answer them "when in a business I get an opportunity to
        always question what we do, logically there is a question of why we do what we do, also a description of what we
        used to do." AND, these questions IMO creates a shift that results in an optimistic POV and then client starts
        to believe in me and my team; consider the collective us to be smart and this will change and improve business
        processes creating the desired outcome.
    </p>
    <p class="text-center py-3" style="font-weight: 800;">
        <i>
            Here are <a href="DigitalConsultant">
                5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success
            </a>
        </i>
    </p>
</div>

@* features *@
<div class="row">
    @* design thinking *@
    <div class="feature col">
        <h3 class="fs-2">hire me as Design thinking expert</h3>
        <p>Design thinking is an innovative problem-solving process rooted in a set of skills.</p>
        <a href="#" title="hire me as Design thinking expert" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    @* marketing *@
    <div class="feature col">
        <h3 class="fs-2">hire me as Digital Marketing expert</h3>
        <p>What is marketing : when you are able to clear doubts about you, products /services offered and build
            confidence in the mind of customers</p>
        <a href="#" title="hire me as Digital Marketing expert" class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
    @* itm *@
    <div class="feature col">
        <h3 class="fs-2">hire me as Technology management </h3>
        <p>Information technology management or ITM is the discipline whereby the information technology resources of a
            business are managed in accordance with its needs and priorities.</p>
        <a href="itmtraining" title="hire me as Technology management "
            class="icon-link d-inline-flex align-items-center">
            Know more
        </a>
    </div>
</div>