@page "/contact"
<PageTitle>VVG ONLINE // CONTACT</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description" content="VVG ONLINE does Digital Business Consulting" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG ONLINE // CONTACT" />
    <meta name="og:description"
        content="VVG ONLINE does Digital Business Consulting" />
    <meta property="og:image" content="https://raw.githubusercontent.com/vvgonline/vvgonlineWEB/refs/heads/main/wwwroot/images/profile/logo-2025.png" />
</HeadContent>

<!--Section: Contact v.2-->
<article class="container p-4">
    <!--Section heading-->
    <h2 class="display-2">Contact</h2>
    <!--Section description-->
    <p class="h4 py-4">
        Do you have any questions? Please do not hesitate to contact us
        directly. Our team will come back to you within
        a matter of hours to help you.
    </p>
</article>
<div class="container pb-5">
    <div class="row">
        <!--Grid column-->
        <div class="col-sm-12 col-md-6 col-lg-6 px-4">
            @* form embed *@
            <iframe height="640px" width="100%"
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAZ__geSEzxUMFJIRzJPQTlORDdRRzhLQTNOVk9LVDRMQy4u&embed=true"
                frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh;"
                allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <article class="col-md-6 col-lg-6 col-sm-12" id="map">
            <h5 class="px-4 display-6">
                contact details
            </h5>
            @* google maps *@
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.3362175089833!2d75.89160807599497!3d22.715741379390142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd318aad1fc3%3A0x7528e131c13e7520!2svvgonline.net!5e0!3m2!1sen!2sin!4v1696426882336!5m2!1sen!2sin"
                style="border:0; height: 27.5em;" allowfullscreen loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="container"></iframe>
            <div class="text-center p-4">
                @* mobile *@
                <span>
                    <a href="tel:+919893261959" class="btn btn-outline-light">
                        📱Let's Connect
                    </a>
                </span>
                @* email *@
                <span>
                    <a href="mailto:vvgonline.net@gmail.com&subject=Reaching out to VVGonline"
                       title="Contact VVGonline" class="btn btn-outline-light">
                        📧 Mail Us
                    </a>
                </span>
            </div>
        </article>
        <!--Grid column-->
        <div>
            One of the key benefits of working with VVG ONLINE is the firm's focus on results. VVG ONLINE uses data-driven insights to measure the success of its digital strategies, and is committed to delivering measurable results that help businesses to achieve their objectives.
        </div>
    </div>
</div>
<!--Section: Contact v.2-->
