@page "/contact"
<PageTitle>VVG ONLINE // CONTACT</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description" content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG ONLINE // CONTACT" />
    <meta name="og:description"
        content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<!--Section: Contact v.2-->
<article class="container p-4">
    <!--Section heading-->
    <h1 class="display-1">Contact</h1>
    <!--Section description-->
    <p class="h4 py-4">
        Do you have any questions? Please do not hesitate to contact us
        directly. Our team will come back to you within
        a matter of hours to help you.
    </p>
</article>
<div class="container pb-5">
    <div class="row">
        <!--Grid column-->
        <div class="col-sm-12 col-md-6 col-lg-6 px-4">
            @* form embed *@
            <iframe height="640px" width="100%"
                src="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAZ__geSEzxUMFJIRzJPQTlORDdRRzhLQTNOVk9LVDRMQy4u&embed=true"
                frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh;"
                allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <article class="col-md-6 col-lg-6 col-sm-12" id="map">
            <h4 class="px-2">
                contact details
            </h4>
            @* google maps *@
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.3362175089833!2d75.89160807599497!3d22.715741379390142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd318aad1fc3%3A0x7528e131c13e7520!2svvgonline.net!5e0!3m2!1sen!2sin!4v1696426882336!5m2!1sen!2sin"
                style="border:0; height: 27.5em;" allowfullscreen loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="container"></iframe>
            <div>
                <p>
                    <span>
                        <img src="./svg/phone.svg" alt="whatsapp only" style="width: 1.5em;" loading="lazy">
                    </span>
                    <span>
                        whatsapp only
                        <a href="tel:+919893261959">
                            +91 989 326 1959
                        </a>
                    </span>
                </p>
            </div>
            <div>
                <p>
                    <span>
                        <img src="./svg/envelope-closed.svg" alt="VVGonline" style="width: 1.5em; height: 1.5em;"
                            loading="lazy">
                    </span>
                    <span>
                        <a href="mailto:vvgonline.net@gmail.com&subject=Reaching out to VVGonline"
                            title="Contact VVGonline">
                            vvgonline.net@gmail.com
                        </a>
                    </span>
                </p>
            </div>
        </article>
        <!--Grid column-->
    </div>
</div>
<!--Section: Contact v.2-->
