@page "/"

<PageTitle>welcome to VVGonline</PageTitle>

<div class="container-fluid text-center py-5">
    <h1 class="display-5 fw-bold"> Namaste 🙏, I'm Vaibhav V. Gupta💻🎧🎮🎹 </h1>
    <p class="text-left">Welcome 👋.</p>
    @* <button class="btn btn-primary btn-lg" type="button">Example button</button> *@
</div>

@* blog list *@
<BlogListComp/>

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp/>
</div>

