@page "/"

<PageTitle>welcome to VVGonline</PageTitle>

<div class="container">
    <div class="jumbotron">
        <h1>Namaste 🙏, I'm Vaibhav V. Gupta💻🎧🎮🎹 </h1>
        <p> Welcome 👋.</p>
    </div>
</div>
