@page "/"

<PageTitle>welcome to VVGonline</PageTitle>

@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<div class="text-center py-5">
    <h1 class="display-5 fw-bold"> Namaste 🙏
    </h1>
    @* intro *@
    <p class="lead text-muted">
        <br>
        "VVGonline" is a team of experts who help organizations grow and thrive in the digital age. We combine our capabilities in data and artificial intelligence, modern and new technology, operations optimization, digital growth, experience design, and digital talent and culture to drive transformation and build businesses.
    </p>
    <p class="text-center">
        <a href="about" class="btn btn-defualt">About VVGonline</a>
    </p>
</div>


@* blog list *@
<BlogListComp></BlogListComp>