@page "/"

<PageTitle>VVG ONLINE // Design.Code.Market.Train.</PageTitle>
@inject NavigationManager _navManagr


@* meta tags *@
<HeadContent>
    <meta name="description" content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    <meta Property="twitter:title" Content="VVG ONLINE // HOME" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG ONLINE // HOME" />
    <meta name="og:description"
        content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<div role="main">
    <div style="background-color: rgba(127, 127 127,0.15);">
        <div>
            <section class="p-4" style="background-color: rgba(127,255,125, 0.25);">
                <div class="container">
                    <header class="container mt-5">
                        <div class="row">
                            <div class="col-sm px-4">
                                <JumboBanner></JumboBanner>
                                @* <img src="https://avatars.githubusercontent.com/u/47851006" alt="Vaibhav V. Gupta"
                                loading="lazy"
                                /> *@
                            </div>
                            <article class="col px-4">
                                <h1 class="middle">Namaste, I'm Vaibhav V. Gupta and this is WHAT I DO</h1>
                            </article>
                        </div>
                    </header>
                    @* I DESIGN GRAPHICS & UI/UX 💻 *@
                    <article>
                        <h2>
                            I <b class="prime-red">Design</b> graphics & UI/UX 💻
                        </h2>
                        <p>
                            Any project or company need a professional to design
                            <a href="#"><span class="badge badge-secondary">logo</span></a>,
                            <a href="#"><span class="badge badge-secondary">presentations</span></a>
                            (audio-visual or interactive),
                            <a href="#"><span class="badge badge-secondary">package design</span></a>,
                            <a href="#"><span class="badge badge-secondary">merch</span></a>,
                            <a href="#"><span class="badge badge-secondary">illustrations</span></a>, &amp;
                            <a href="#"><span class="badge badge-secondary">webesite</span></a> (landing page)/
                            app design to make a customer understand whether your offering is interesting or
                            not.
                        </p>
                    </article>
                    @* I CODE USING C#, PHP, C++ & JS/TS 💻 *@
                    <article>
                        <h2>I <b class="prime-blue">Code</b> using C#, Php, C++ & Js/Ts 💻</h2>
                        <p>
                            Coding is very special thing for me. I'm a fullstack developer who is addicted to
                            learn new programming languages and loves to
                            <a href="https://github.com/vvgonline" target="_blank"><span
                                    class="badge badge-secondary">build</span></a> exciting stuff.
                        </p>
                    </article>
                    @* I MARKET PRODUCTS & SERVICES ONLINE 🛒 *@
                    <article>
                        <h2>
                            I <b class="prime-yellow">Market</b> products & services online 🛒
                        </h2>
                        <p>
                            To make your products / services visible and get the desired reach, I provide
                            consultancy on market research (the selection &amp; analysis of the target
                            audience), Marketplace promotion, Content Marketing (Technical documentation,
                            blogging &amp; website content) &amp; Analytics services (mobile app analytics,
                            basic web analytics, e-commerce analytics)
                        </p>
                    </article>
                    @* I TRAIN BEGINNERS 👨🏼‍🎓, HELP THEM LAND A JOB *@
                    <article>
                        <h2>I <b class="prime-gray">Train</b> beginners 👨🏼‍🎓, help them land a job</h2>
                        <p>
                            Arranged and conducted number of College (Graduation and Post-Graduation level) /
                            Corporate trainings on MS Excel / PowerPoint / SharePoint / MS Project at Cipla /
                            Bridgestone / ManForce / Dolphine Hospital, .Net (C# / Asp), C / C++, PHP [MRSC], MY
                            SQL [MRSC], Oracle, Full Stack Development, OOAD with UML, Computer Graphics, 2D
                            animation and interactivity with Adobe Flash, UI Design with Adobe Photoshop /
                            Illustrator, How to use Selenium for testing, Manual Testing and many more.
                        </p>
                    </article>
                </div>
            </section>
            @* what is vvg online *@
            <section class="dark-card-header px-4 pb-5">
                <article class="container">
                    <h2 class="display-4">
                        What is VVG online?
                    </h2>
                    <p class="h5">
                        <b>"VVG ONLINE"</b> is an authentic online representation of Vaibhav Vijay Gupta and his team of
                        experts who
                        share
                        their knowledge or professional advice with businesses.
                    </p>
                    @* quote *@
                    <figure class="mt-5 p-4">
                        <blockquote class="blockquote text-center"></blockquote>
                        <p class="text-center h3 px-3 pb-3">
                            We at 'VVG ONLINE' are joining forces to speed up our journey towards a future that is more
                            sustainable,
                            inclusive, and growing for all.
                        </p>
                        <figcaption class="px-5 text-center blockquote-footer">
                            <cite title="Source Title"><b>VVG ONLINE</b></cite>
                        </figcaption>
                    </figure>
                </article>
            </section>
            @* youtube section *@
            <section class="px-4"
                style="background-image: url(../svg/youtube.svg), linear-gradient(0deg,rgba(255, 55, 122, 0.25), rgba(0, 0, 0, 0.15));">
                <article class="container">
                    <h2 class="h1" style="color: #f23464 ;margin-bottom: 0; padding-bottom: 0;">youtube
                    </h2>
                    <p style="color: #a8a095; margin-top: 0;">free training</p>
                </article>
                <article class="container card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Add Blazor to an existing ASP.NET MVC project</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <iframe src="https://www.youtube.com/embed/luR_-CLlDU4" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text">In this video: I am going to Add Blazor to an existing ASP.NET MVC
                                    project.
                                </p>
                                <p class="card-text"><small class="text-muted">03-March-2020</small></p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Create new Solution & Projects using Dotnet CLI</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <iframe src="https://www.youtube.com/embed/89TPsF12BnY" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text">In this video: I am going to demonstrate how to create solutions
                                    and
                                    projects using Dotnet CLI.</p>
                                <p class="card-text"><small class="text-muted">02-March-2020</small></p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Nvidia to acquire ARM for 40 billion USD!</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <iframe src="https://www.youtube.com/embed/2dfVJbpozHQ" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text">This deal represents a major shift of balance in the technology
                                    sector
                                    in general. But, it
                                    will especially affect the mobile computing market as we know it today.</p>
                                <p class="card-text"><small class="text-muted">15-Sep-2020</small></p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="container card mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Install Dotnet Core on Linux (Ubuntu 20.4 LTS)</h5>
                    </div>
                    <div class="card-body">
                        <div class=" row">
                            <div class="col-md-6"><iframe src="https://www.youtube.com/embed/JUV7d1vYTgA"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>
                            <div class="col-md-6">
                                <p class="card-text">
                                    In this video, VVGonline showcase how to install Dotnet core on Linux (Ubuntu 20.4
                                    LTS)
                                </p>
                                <p class="card-text"><small class="text-muted">21-Aug-2020</small></p>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>