@page "/"

<PageTitle>welcome to VVGonline</PageTitle>

@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

@* blog list *@
<div class="container py-5">
    <header>
        <h1 class="text-center">
            Explore our ideas in 10 minutes or less
        </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card mb-3">
                        <img class="card-img-top img-fluid"
                            src="https://i1.wp.com/mckoysnews.com/wp-content/uploads/2019/11/The-Art-of-War-by-Sun-Tzu.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tactics vs Strategy</h5>
                            <p class="card-text">Decision making has two essential parts let's explore both terms from
                                business'
                                POV.</p>
                            <a href="strategytactics" class="btn btn-info">
                                <span>
                                    <img src="./svg/document.svg" alt="" style="width:1em; height:1em;">
                                </span>
                                <span>
                                    read article
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <i>
                            Latest
                        </i>
                    </div>
                    <div class="card mb-3">
                        <img class="card-img-top img-fluid"
                            src="https://github.com/vvgonline/vvgonlineWEB/blob/main/wwwroot/images/banners/ItmPF.png?raw=true"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">IT Present & Future</h5>
                            <p class="card-text">
                                VVGonline explains IT Management Present & Future.
                            </p>
                            <a href="ItmPF" class="btn btn-info">
                                <span>
                                    <img src="./svg/document.svg" alt="" style="width:1em; height:1em;">
                                </span>
                                <span>
                                    read article
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        About Author
                    </div>
                    <div>
                        <a href="about">
                            <img class="img-fluid" src="https://avatars.githubusercontent.com/u/47851006?v=4"
                                alt="About Author">
                            <div class="card-text py-3 btn btn-defualt">Vaibhav is a Digital Business
                                Consultant who is passionate about
                                providing
                                quality, and one stop digital solutions — Design thinking , Digital Marketing and
                                Information
                                Technology management.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<hr>
<div class="row py-3">
    <BlogListComp></BlogListComp>
</div>