@page "/"

<PageTitle>welcome to VVGonline</PageTitle>

@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<div class="text-center py-5">
    <h1 class="display-5 fw-bold"> Namaste 🙏
    </h1>
    @* 🎧 *@
    <p class="text-left lead text-muted">
        <br>
        @* We help our clients create change that matters—transformation, enabled by technology and sustained through capabilities. *@
        
    </p>
    <p class="text-center">
        <a href="about" class="btn btn-defualt">About VVGonline</a>
    </p>
</div>


@* blog list *@
<BlogListComp></BlogListComp>