@page "/"

<PageTitle>welcome to VVGonline</PageTitle>
@inject NavigationManager _navManagr

@* meta tags *@
<HeadContent>
    <meta name="description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVGonline - About" />
    <meta name="og:description"
        content="VVG is a digital business consultant who is passionate about providing quality, and one stop digital solutions." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

@* blog list *@
<header>
    <article>
        <h1 class="display-4">
            New at VVGonline
        </h1>
        <p class="lead">
            Explore our ideas in 10 minutes or less
        </p>
        <hr>
    </article>
    <div class="row pb-5" style="z-index: 0;">
        <h2 class="text-center">
        TRENDING INSIGHTS
        </h2>
        @* Tactics vs Strategy *@
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="strategytactics">
                        <img class="img-fluid rounded"
                             src="./images/banners/StrategyTactics.png"
                            alt="Card image cap">
                        <h5>Tactics vs Strategy</h5>
                    </a>
                    <p class="card-text">
                        All men can see the tactics Where by I conquer, but what none can see is this strategy out of which victory is evolved.
                    </p>
                </div>
            </div>
        </div>
        @* col-itm pf *@
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="ItmPF">
                        <img class="card-img-top img-fluid rounded"
                             src="./images/banners/ItmPF.png"
                            alt="Card image cap">
                        <h5 class="card-title">IT Present & Future</h5>
                    </a>

                    <p class="card-text">
                        ITM involves the planning, organizing, and controlling of IT resources to achieve organizational goals.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container">
    <div class="row">
        <div class="col-sm-8">
            <BlogListComp></BlogListComp>
        </div>
        @* about *@
        <div class="col-sm-4">
            <div class="card">
                <div>
                    <a href="about">
                        <img class="img-fluid rounded-circle" src="https://avatars.githubusercontent.com/u/47851006?v=4"
                            alt="About VVGonline">
                        <div class="card-text py-3 text-center">
                            <h4>
                                About VVG online
                            </h4>
                        </div>
                    </a>
                    <div class="text-center">
                        "VVG online" is an authentic online representation of Vaibhav Vijay Gupta and his team of experts who share their knowledge or professional advice with businesses as Digital business consultants.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>