@page "/"

<PageTitle>VVG ONLINE // Design.Code.Market.Train.</PageTitle>
@inject NavigationManager _navManagr


@* meta tags *@
<HeadContent>
    <meta name="description" content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    <meta Property="twitter:title" Content="VVG ONLINE // HOME" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG ONLINE // HOME" />
    <meta name="og:description"
          content="VVG ONLINE does Designing, IT Development, Digital Marketing and IT TRAINING." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

<div role="main">
    <div>
        <section class="whatIdo mt-5 w-100 h-100">
            <article class="container mx-auto my-auto py-5">
                <p class="display-6" style="line-height: 3.5rem;">
                    offerings by
                </p>
                <h1 style="margin-top: -3rem; font-size: 3.5rem;">
                    vvg online
                </h1>
                <p style="margin-top: -2rem; line-height: -3rem;">
                    explore our collection of design, web/mobile apps, digital marketing &amp; training offering.
                </p>
            </article>
            <div class="container m-auto py-5">
                <div class="row mx-auto">
                    @* design *@
                    <div class="col-sm-3 pb-5">
                        <div>
                            <a href="">
                                <img src="./images/skills/designing.svg"
                                     alt="Design"
                                     title="Design" />
                            </a>
                        </div>
                        @* package destails *@
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" 
                                title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Branding package
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        logo design for your business
                                    </li>
                                    <li>
                                        personalize the elements (style, color palette, and typography) of your brand
                                    </li>
                                    <li>
                                        visiting card
                                    </li>
                                    <li>
                                        e-brochure (5 pages)
                                    </li>
                                    <li>
                                        letterhead
                                    </li>
                                    <li>
                                        newsletter
                                    </li>
                                    <li>
                                        static website (5 pages)
                                    </li>
                                    <li>
                                        Audio-Video &amp; interactive presentation 
                                    </li>
                                    <li>
                                        visiting card
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @* code *@
                    <div class="col-sm-3 pb-5">
                        <a href="">
                            <img src="./images/skills/coding.svg"
                                 alt="Code"
                                 title="Code" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                .NET Web App package
                            </a>
                            @* .net package destails *@
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        log-in
                                    </li>
                                    <li>
                                        5 e-mail ids
                                    </li>
                                    <li>
                                        .com domain
                                    </li>
                                    <li>
                                        windows hosting (with MySQL + MSSQL)
                                    </li>
                                    <li>
                                        contact form submission &amp; management
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                Wordpress Web App package
                            </a>
                            @* wordpress package destails *@
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        log-in
                                    </li>
                                    <li>
                                        5 e-mail ids
                                    </li>
                                    <li>
                                        .com domain
                                    </li>
                                    <li>
                                        linux hosting (with MySQL)
                                    </li>
                                    <li>
                                        contact form submission &amp; management
                                    </li>
                                    <li>
                                        blog creation &amp; management
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @* market *@
                    <div class="col-sm-3 pb-5">
                        <a href="">
                            <img src="./images/skills/marketing.svg"
                                 alt="Market"
                                 title="Market" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                Starter Digital Marketing package
                            </a>

                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        on-page seo
                                    </li>
                                    <li>
                                        off-page seo
                                    </li>
                                    <li>
                                        monthly seo report
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                Social Media package
                            </a>

                            <div class="my-2 py-3">
                                Social Media Post Content Creation + Posting for following:
                                <ol>
                                    <li>
                                        google my business
                                    </li>
                                    <li>
                                        facebook
                                    </li>
                                    <li>
                                        twitter
                                    </li>
                                    <li>
                                        instagram
                                    </li>
                                    <li>
                                        whatsapp
                                    </li>
                                    <li>
                                        linkedin
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @* train *@
                    <div class="col-sm-3 pb-5">
                        <a href="">
                            <img src="./images/skills/training.svg"
                                 alt="Train"
                                 title="Train" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <p>NOTE: all courses are online only</p>
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                Front-End Dev Course
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        html
                                    </li>
                                    <li>
                                        css (bootstrap + tailwind)
                                    </li>
                                    <li>
                                        javascript
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                .NET Full-stack Course
                            </a>
                            <div class="my-2 py-3">
                                NOTE: html, css, typescript required
                                <ol>
                                    <li>
                                        c-sharp (c#)
                                    </li>
                                    <li>
                                        mvc asp.net
                                    </li>
                                    <li>
                                        blazor
                                    </li>
                                    <li>
                                        unit testing
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href=""
                               title="Branding package"
                               style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                               class="h5">
                                DEVOPS Course
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        linux (ubuntu) basic commands
                                    </li>
                                    <li>
                                        creating &amp; managing virtual machine
                                    </li>
                                    <li>
                                        editor (visual studio code)
                                    </li>
                                    <li>
                                        version control systems hosting (github)
                                    </li>
                                    <li>
                                        shell scripts (bash)
                                    </li>
                                    <li>
                                        containers (docker)
                                    </li>
                                    <li>
                                        networking protocols
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* what is vvg online *@
        <section class="dark-card-header py-5">
            <article class="container">
                <h2 class="display-4">
                    What is VVG online?
                </h2>
                <p class="h5">
                    <b>"VVG ONLINE"</b> is an authentic online representation of Vaibhav Vijay Gupta and his team of
                    experts who
                    share
                    their knowledge or professional advice with businesses.
                </p>
                @* quote *@
                <figure class="mt-5 p-4">
                    <blockquote class="blockquote text-center"></blockquote>
                    <p class="text-center h3 px-3 pb-3">
                        We at 'VVG ONLINE' are joining forces to speed up our journey towards a future that is more
                        sustainable,
                        inclusive, and growing for all.
                    </p>
                    <figcaption class="px-5 text-center blockquote-footer">
                        <cite title="Source Title"><b>VVG ONLINE</b></cite>
                    </figcaption>
                </figure>
            </article>
        </section>
        @* youtube section *@
        <section class="ytbg" style="">
            <article class="container">
                <h2 class="h1 youtube" style="">
                    youtube
                </h2>
                <p style="color: #a8a095; margin-top: 0;">free training</p>
            </article>
            <article class="container card mb-3">
                <div class="card-header px-0">
                    <h5 class="card-title">Add Blazor to an existing ASP.NET MVC project</h5>
                </div>
                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe src="https://www.youtube.com/embed/luR_-CLlDU4" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                In this video: I am going to Add Blazor to an existing ASP.NET MVC
                                project.
                            </p>
                            <p class="card-text"><small class="text-muted">03-March-2020</small></p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="container card mb-3">
                <div class="card-header px-0">
                    <h5 class="card-title">Create new Solution & Projects using Dotnet CLI</h5>
                </div>
                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe src="https://www.youtube.com/embed/89TPsF12BnY" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                In this video: I am going to demonstrate how to create solutions
                                and
                                projects using Dotnet CLI.
                            </p>
                            <p class="card-text"><small class="text-muted">02-March-2020</small></p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="container card mb-3">
                <div class="card-header px-0">
                    <h5 class="card-title">Nvidia to acquire ARM for 40 billion USD!</h5>
                </div>
                <div class="card-body px-0">
                    <div class="row">
                        <div class="col-md-6">
                            <iframe src="https://www.youtube.com/embed/2dfVJbpozHQ" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                This deal represents a major shift of balance in the technology
                                sector
                                in general. But, it
                                will especially affect the mobile computing market as we know it today.
                            </p>
                            <p class="card-text"><small class="text-muted">15-Sep-2020</small></p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="container card pb-4">
                <div class="card-header px-0">
                    <h5 class="card-title">Install Dotnet Core on Linux (Ubuntu 20.4 LTS)</h5>
                </div>
                <div class="card-body px-0">
                    <div class=" row">
                        <div class="col-md-6">
                            <iframe src="https://www.youtube.com/embed/JUV7d1vYTgA" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                In this video, VVGonline showcase how to install Dotnet core on Linux (Ubuntu 20.4
                                LTS)
                            </p>
                            <p class="card-text"><small class="text-muted">21-Aug-2020</small></p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>