@page "/"

<PageTitle>VVG ONLINE // Design.Code.Market.Train.</PageTitle>
@inject NavigationManager _navManagr


@* meta tags *@
<HeadContent>
    <meta name="description" content="VVG ONLINE does Digital Business Consulting" />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVGonline" />
    <meta Property="twitter:title" Content="VVG ONLINE // Digital Business Consulting" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG ONLINE // Digital Business Consulting" />
    <meta name="og:description"
        content="VVG ONLINE does Digital Business Consulting" />
    <meta property="og:image" content="https://raw.githubusercontent.com/vvgonline/vvgonlineWEB/refs/heads/main/wwwroot/images/profile/logo-2025.png" />
</HeadContent>

<div role="main">
    <div>
        <HeroBanner></HeroBanner>
        @* what is vvg online *@
        <section class="dark-card-header py-5">
            <article class="container">
                <h2 class="display-4 What-is-vvg-online">
                    What is VVG online?
                </h2>
                <p class="h5">
                    <b>"VVG ONLINE"</b> is a digital business consulting firm that specializes in helping businesses to
                    optimize their online presence and digital strategies. With a focus on innovation and growth, VVG
                    ONLINE offers a range of services designed to help businesses succeed in the digital age.
                </p>
                @* quote *@
                <figure class="mt-5 p-4">
                    <blockquote class="blockquote text-center"></blockquote>
                    <p class="text-center h3 px-3 pb-3">
                        We at 'VVG ONLINE' are joining forces to speed up our journey towards a future that is more
                        sustainable,
                        inclusive, and growing for all.
                    </p>
                    <figcaption class="px-5 text-center blockquote-footer">
                        <cite title="Source Title"><b>Vaibhav Gupta, CEO</b></cite>
                    </figcaption>
                </figure>
            </article>
        </section>
        @* offerings section *@
        <section class="whatIdo w-100 h-100">
            <article class="container mx-auto my-auto py-5">
                <p class="mt-5">
                    offerings by
                </p>
                <h2 style="margin-top: -2rem; line-height: -3rem;">
                    vvg online
                </h2>
                <p style="margin-top: -2rem; line-height: -3rem;">
                    explore our collection of design, web/mobile apps, digital marketing &amp; training offering.
                </p>
            </article>
            <div class="container m-auto py-5">
                <div class="row mx-auto">
                    @* design *@
                    <div class="col pb-5">
                        <div>
                            <a href="">
                                <img src="./images/skills/designing.svg" alt="Design" title="Design" />
                            </a>
                        </div>
                        @* package destails *@
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Branding package
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        logo design for your business
                                    </li>
                                    <li>
                                        personalize the elements (style, color palette, and typography) of your brand
                                    </li>
                                    <li>
                                        visiting card
                                    </li>
                                    <li>
                                        e-brochure (5 pages)
                                    </li>
                                    <li>
                                        letterhead
                                    </li>
                                    <li>
                                        newsletter
                                    </li>
                                    <li>
                                        static website (5 pages)
                                    </li>
                                    <li>
                                        Audio-Video &amp; interactive presentation
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @* code *@
                    <div class="col pb-5">
                        <a href="">
                            <img src="./images/skills/coding.svg" alt="Code" title="Code" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                .NET Web App package
                            </a>
                            @* .net package destails *@
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        log-in
                                    </li>
                                    <li>
                                        5 e-mail ids
                                    </li>
                                    <li>
                                        .com domain
                                    </li>
                                    <li>
                                        windows hosting (with MySQL + MSSQL)
                                    </li>
                                    <li>
                                        contact form submission &amp; management
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Wordpress Web App package
                            </a>
                            @* wordpress package destails *@
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        log-in
                                    </li>
                                    <li>
                                        5 e-mail ids
                                    </li>
                                    <li>
                                        .com domain
                                    </li>
                                    <li>
                                        linux hosting (with MySQL)
                                    </li>
                                    <li>
                                        contact form submission &amp; management
                                    </li>
                                    <li>
                                        blog creation &amp; management
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    @* market *@
                    <div class="col pb-5">
                        <a href="">
                            <img src="./images/skills/marketing.svg" alt="Market" title="Market" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Starter Digital Marketing package
                            </a>

                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        on-page seo
                                    </li>
                                    <li>
                                        off-page seo
                                    </li>
                                    <li>
                                        monthly seo report
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Social Media package
                            </a>

                            <div class="my-2 py-3">
                                Social Media Post Content Creation + Posting for following:
                                <ol>
                                    <li>
                                        google my business
                                    </li>
                                    <li>
                                        facebook
                                    </li>
                                    <li>
                                        twitter
                                    </li>
                                    <li>
                                        instagram
                                    </li>
                                    <li>
                                        whatsapp
                                    </li>
                                    <li>
                                        linkedin
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @* train *@
                    <div class="col pb-5">
                        <a href="">
                            <img src="./images/skills/training.svg" alt="Train" title="Train" />
                        </a>
                        <div class="mt-3" style="text-decoration: none;">
                            <p>NOTE: all courses are online only</p>
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                Front-End Dev Course
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        html
                                    </li>
                                    <li>
                                        css (bootstrap + tailwind)
                                    </li>
                                    <li>
                                        javascript
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                .NET Full-stack Course
                            </a>
                            <div class="my-2 py-3">
                                NOTE: html, css, typescript required
                                <ol>
                                    <li>
                                        c-sharp (c#)
                                    </li>
                                    <li>
                                        mvc asp.net
                                    </li>
                                    <li>
                                        blazor
                                    </li>
                                    <li>
                                        unit testing
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="mt-3" style="text-decoration: none;">
                            <a href="" title="Branding package"
                                style="color: #b480f2; font-family: Kanit,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                                class="h5">
                                DEVOPS Course
                            </a>
                            <div class="my-2 py-3">
                                <ol>
                                    <li>
                                        linux (ubuntu) basic commands
                                    </li>
                                    <li>
                                        creating &amp; managing virtual machine
                                    </li>
                                    <li>
                                        editor (visual studio code)
                                    </li>
                                    <li>
                                        version control systems hosting (github)
                                    </li>
                                    <li>
                                        shell scripts (bash)
                                    </li>
                                    <li>
                                        containers (docker)
                                    </li>
                                    <li>
                                        networking protocols
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>