@page "/ItmTraining"

<PageTitle>VVGonline expetises in ITM Training</PageTitle>


@* header *@
<header class="container py-5">
    <h2>
        Information technology management
    </h2>
    <!-- TODO: WRITE A PROPER INTRO -->
    <p class="lead text-muted">
        Information technology management or ITM is the discipline whereby
        the information technology resourcesof a business are managed in
        accordance with its needs and priorities. Managing the within a
        business entails many of the basic management functions, like ,change
        management, andorganizing and controlling, along with other aspects
        that are unique to technology, like software design,network planning
        tech support etc.
    </p>

    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.M5hbZZlnoHyYIczyxQGrWQHaE8%26pid%3DApi&f=1&ipt=fdef22adbabaefd98dba1d5a078e365ffff15f372f8996d45319291fb572b582&ipo=images"
         alt="ITM(information Technology Management)"
         style="width: 30em; height:auto;"
         class="img-fluid">
    <hr>
</header>

@* artical *@
<article>
    <h3>
        What happens in information technology management?
    </h3>
    @* What happens in information technology management? *@
    <div>
        <ul>
            <li>
                Determining business requirements for IT systems
            </li>
            <li>
                Managing IT budgets and costs
            </li>
            <li>
                Monitoring safety and compliance
            </li>
            <li>
                Controlling system and network security
            </li>
            <li>
                Implemented new software hardware and data systems
            </li>
            <li>
                Providing technical or help desk support
            </li>
        </ul>
    </div>

    <h3>So what does all this do? </h3>
    @* So what does all this do? *@
    <div>

        <p>
            Determines Information Technology strategies and goals for the business and ensure they are implemented.
        </p>

        <p>
            Processes, Software Hardware, and Systems using a business environment to conduct day-to-day operations.
        </p>
    </div>

    <h3>Advantages of Information technology management</h3>
    @* Advantages of Information technology management *@
    <div>
        <ul>
            <li>
                There are very few business processes that do not depend or cannot benefit from information technology
            </li>
            <li>
                Information technology management allows businesses to manage their data efficiently regardless of its form
            </li>
            <li>
                Information technology management allow employees to be more productive but it can also be tailor to suit a
                company's specific needs
            </li>
        </ul>
    </div>
    @* paths of itm *@
    <div>
        Information technology management have several career paths as it has
        best of both worlds that is business and
        information technology and it requires strong analytical and 
        problem solving skills
        <ol>
            <li>
                Project management
            </li>
            <li>
                Data security and role management
            </li>
            <li>
                Data organization and analysis
            </li>
            <li>
                System analysis design and organization
            </li>
            <li>
                Software and Hardware assessment
            </li>
        </ol>
    </div>

    @* Important points: *@

    <div>
        <h4>
            Important points:
        </h4>
        <ul>
            <li>
                Workers in information technology management are considered part of skilled workforce and sometimes
                referred
                to as knowledge workers
            </li>
            <li>
                In addition to typical information technology skill set a career in information technology management
                requires strong interpersonal skills, management ability and collaborative problem solving skills
            </li>
        </ul>
    </div>
    @* Common roles in information technology management *@
    <div>
        <h4>
            Common roles in information technology management
        </h4>
        <ul>
            <li>
                Software developers
            </li>
            <li>
                Database & system administrators
            </li>
            <li>
                Information Security analyst
            </li>
        </ul>
    </div>
</article>

@* footer *@
<footer class="lead text-muted">
    <i>
        Also sometime known as information systems. VVGonline expertise in providing ITM(information Technology
        Management) training to beginners and professionals alike.
    </i>
</footer>

@* add list oftrainings *@

@* about comp *@
<div class="container-fluid text-center py-5">
    <AboutComp></AboutComp>
</div>