@page "/privacy"
@inject NavigationManager _navManagr
<PageTitle>VVG online - Privacy Policy</PageTitle>
@* meta tags *@
<HeadContent>
    <meta name="description"
        content="This privacy policy describes how VVG online handle and protect your personal information when you engage with our digital business consultancy services. At VVG online, we are committed to safeguarding the confidentiality and privacy of your personal data." />
    @*Twitter specific meta tags *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@VVG online" />
    @* OpenGraph meta tags *@
    <meta name="og:url" content="@_navManagr.Uri" />
    <meta name="og:title" content="VVG online - About" />
    <meta name="og:description"
        content="This privacy policy describes how VVG online handle and protect your personal information when you engage with our digital business consultancy services. At VVG online, we are committed to safeguarding the confidentiality and privacy of your personal data." />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/47851006?v=4" />
</HeadContent>

@* intro *@
<div>
    <h1 class="display-1">
        Privacy Policy
    </h1>
    <p class="h4">
        This privacy policy describes how VVG online handle and protect your personal information when you engage with
        our
        digital
        business consultancy services. At VVG online, we are committed to safeguarding the confidentiality and privacy
        of
        your personal data.
    </p>
</div>
@* Information We Collect *@
<div>
    <h4>
        Information We Collect
    </h4>
    <p>
        We may collect the following types of personal information:
    </p>
    <ul>
        <li>
            Contact details (such as name, email address, phone number)
        </li>
        <li>
            Professional information (such as job title, company name)
        </li>
        <li>
            Other information relevant to our services
        </li>
        <li>
            How We Use Your Information
        </li>
    </ul>
    <p>
        We use your personal information for the following purposes:
    </p>
    <ul>
        <li>
            To provide you with our digital business consultancy services
        </li>
        <li>
            To communicate with you regarding our services
        </li>
        <li>
            To improve our services and understand your needs
        </li>
        <li>
            To comply with legal and regulatory requirements
        </li>
    </ul>
</div>
@* Data Security *@
<div>
    <h4>
        Data Security
    </h4>
    <p>
        We are committed to ensuring that your personal information is secure. We have implemented appropriate technical
        and
        organizational measures to protect your data from unauthorized access, disclosure, alteration, or destruction.
    </p>
</div>
@* Data Retention *@
<div>
    <h4>
        Data Retention
    </h4>
    <p>
        We will retain your personal information for as long as necessary to fulfill the purposes outlined in this
        privacy
        policy, unless a longer retention period is required or permitted by law.
    </p>
</div>
@* Your Rights *@
<div>
    <h4>
        Your Rights
    </h4>
    <p>
        You have the right to:
    </p>
    <ul>
        <li>
            Access and obtain a copy of your personal information
        </li>
        <li>
            Update or correct your personal information
        </li>
        <li>
            Request the deletion of your personal information
        </li>
        <li>
            Object to the processing of your personal information
        </li>
        <li>
            Restrict the processing of your personal information
        </li>
        <li>
            Withdraw your consent for the processing of your personal information
        </li>
    </ul>
</div>
@* Contact Us *@
<div>
    <h4>
        Contact Us
    </h4>
    <p>
        If you have any questions or concerns about our privacy policy or the way we handle your personal information,
        please contact us via
        <a href="mailto:VVG online.net@gmail.com?subject=Privacy Policy Question" target="_blank">
            our email
        </a>
    </p>
</div>