@page "/trainer"

<PageTitle>Technology management Trainer</PageTitle>

<h3>I'm a Technology management Trainer</h3>

<div>
    <p>Technology management can also be defined as the integrated planning, design, optimization, operation and control
        of technological products, processes and services, a better definition would be the management of the use of
        technology for human advantage. </p>
</div>
<div>
    <ul>
        <li>Technology strategy (a logic or role of technology in organization)</li>
        <li>Technology forecasting (identification of possible relevant technologies for the organization, possibly
            through technology scouting)</li>
        <li>Technology roadmap (mapping technologies to business and market needs)</li>
        <li>Technology project portfolio (a set of projects under development) and technology portfolio (a set of
            technologies in use)</li>
    </ul>
</div>