<div class="container text-center py-5">
    <div class="row mx-auto">
        <div class="text-center">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                @* vvg image *@
                <div class="col-auto d-none d-lg-block">
                    <img src="https://avatars.githubusercontent.com/u/47851006?v=4" alt="VVGonline"
                        style="; width:15rem; height: auto;" class="img-fluid">
                    @* class="rounded circle" border-radius: .75rem !important *@
                </div>
                @* about text *@
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">About</strong>
                    <h5 class="mb-0">Vaibhav V.Gupta</h5>
                    @* <div class="mb-1 text-muted">Nov 12</div> *@
                    <p class="card-text mb-auto">Vaibhav is a digital business consultant who is passionate about
                        providing quality, and one stop digital solutions — <a href="">Design thinking</a>, <a
                            href="">Digital Development</a>, <a href="">Digital Marketing</a> and <a href="itmtraining"
                            title="intro to Information Technology management">Information Technology management
                            Training</a>.</p>
                    <a href="about" class="" title="About VVGonline">Read more about Vaibhav</a>
                </div>
                @* social links *@
                <div>
                    @* social links *@
                    <SocialLinks></SocialLinks>
                </div>
                @* end of article msg *@
                <div class="py-3">
                    We hope you liked this blog. If you have any queries or issues or feedback please let us know by
                    <a href="mailto:vvgonline.net@gmail.com?Subject=Queries or Issues or Feedback for VVGonline&body=Queries or Issues or Feedback for VVGonline from the article (article link)"
                        target="_blank">sending
                        a email</a> to us. New blog every Tuesday, Thursday
                    and Saturday. Thanks.
                </div>
            </div>
        </div>
    </div>
</div>