<section>
    <div class="row g-0 rounded border overflow-hidden">
        @* about text *@
        <article class="col px-4 py-4">
            <strong></strong>
            <h3 class="pb-4 display-2">About VVGonline</h3>
            @* <div class="mb-1 text-muted">Nov 12</div> *@
            <p class="card-text">"VVG online" is an authentic online representation of Vaibhav Vijay Gupta and his team
                of experts who share their knowledge or professional advice with businesses as Digital business
                consultants.
            </p>
            <a href="about" title="About VVGonline">Read more</a>
            @* end of article msg *@
            <article class="py-3">
                <h4 class="display-5">
                    Feedback
                </h4>
                <p>
                    We hope you liked this blog. If you have any queries or issues or feedback, please let us know by
                    sending an
                    <a href="mailto:VVGonline.net@gmail.com?Subject=Queries or Issues or Feedback for VVGonline&body=Queries or Issues or Feedback for VVGonline from the article (article link)"
                        target="_blank" title="sebd Queries or Issues or Feedback for VVGonline">
                        email</a>
                    to us.
                </p>
                New blog every Thursday.
            </article>
        </article>
        @* vvg image *@
        <div class="col-auto d-none d-lg-block p-3">
            <img src="https://avatars.githubusercontent.com/u/47851006?v=4" alt="VVGonline" style=""
                class="img-fluid rounded-circle" loading="lazy">
        </div>
    </div>
</section>
