<section class="container">
    <div class="row g-0 border rounded overflow-hidden">
        @* about text *@
        <article class="col px-5 py-4">
            <strong>About</strong>
            <h5 class="h4">Vaibhav V.Gupta</h5>
            @* <div class="mb-1 text-muted">Nov 12</div> *@
            <p class="card-text">Vaibhav is a
                <a href="Dbc" title="Digital Business Consultant">
                    Digital Business Consultant
                </a> who is passionate about
                providing quality, and one stop digital solutions — <a href="DesignThinking" title="Design thinking">
                    Design thinking
                </a>,&nbsp;
                <a href="DigitalMarketing" title="Digital Marketing">
                    Digital Marketing
                </a>
                and&nbsp;
                <a href="itmtraining" title="Information Technology management">
                    Information
                    Technology management
                </a>.
            </p>
            <a href="about" title="About VVGonline">Read more about Vaibhav</a>
        </article>
        @* vvg image *@
        <div class="col-auto d-none d-lg-block p-3">
            <img src="https://avatars.githubusercontent.com/u/47851006?v=4" alt="VVGonline"
                style="; width:15rem; height: auto; border: solid 5px #ed553b;" class="img-fluid rounded-circle"
                loading="lazy">
        </div>
        @* social links *@
        <div>
            @* social links *@
            <SocialLinks></SocialLinks>
        </div>
        @* end of article msg *@
        <article class="py-3 px-4">
            <h6>
                Feedback
            </h6>
            <p>
                We hope you liked this blog. If you have any queries or issues or feedback, please let us know by
                sending an
                <a href="mailto:VVGonline.net@gmail.com?Subject=Queries or Issues or Feedback for VVGonline&body=Queries or Issues or Feedback for VVGonline from the article (article link)"
                    target="_blank" title="sebd Queries or Issues or Feedback for VVGonline">
                    email</a>
                to us.
            </p>
            New blog every Thursday.
        </article>
    </div>
</section>