<div class="container">
    <section>
        <div class="row g-0 border-top">
            @* about text *@
            <article class="col px-4 py-4">
                <h3 class="pb-4 display-5">About VVGonline</h3>
                <p class="card-text">
                    <b>"VVG ONLINE"</b> is a digital business consulting firm that specializes in helping businesses to
                    optimize their online presence and digital strategies. With a focus on innovation and growth, VVG
                    ONLINE offers a range of services designed to help businesses succeed in the digital age.
                </p>
                <a href="about" title="About VVGonline" class="btn btn-outline-light">Read more</a>
                @* end of article msg *@
                <article class="py-3">
                    <h4 class="display-5">
                        Feedback
                    </h4>
                    <p>
                        We hope you liked this blog. If you have any queries or issues or feedback, please let us know by
                        sending an
                        <a href="mailto:VVGonline.net@gmail.com?Subject=Queries or Issues or Feedback for VVGonline&body=Queries or Issues or Feedback for VVGonline from the article (article link)"
                           target="_blank" title="send Queries or Issues or Feedback for VVGonline" class="link-light">
                            email
                        </a>
                        to us.
                    </p>
                    New blog every Thursday.
                </article>
            </article>
            @* vvg image *@
            @* <div class="col-auto d-none d-lg-block p-3">
                <img src="https://raw.githubusercontent.com/vvgonline/vvgonlineWEB/refs/heads/main/wwwroot/images/profile/logo-2025.png" alt="VVGonline"
                     class="img-fluid rounded-circle" loading="lazy">
            </div> *@
        </div>
    </section>
</div>
