<div class="album py-5 bg-light">
    <div class="container">
        @* Latest blogs | repos | vlogs *@
        <div class="text-center">
            <h6 class="py-4">
                Blogs | Repos | Vlogs
            </h6>
        </div>
        @* blog list *@
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @* tech-i-know *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">TECH-I-KNOW repo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By
                            <a href="about" title="About VVG online">VVG online</a>
                        </h6>
                        <p class="card-text">In this repo I am going to make projects to demonstrate the technologies I
                            know.</p>
                        <a href="https://github.com/vvgonline/Tech-I-Know/" class="btn btn-secondary card-link"
                            target="_blank">
                            <span>
                                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                                    style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms; flex-shrink: 0;user-select: none;">
                                    <!--!-->
                                    <path
                                        d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0 1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2 0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8 5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
                                    </path>
                                </svg>
                            </span>&nbsp;
                            <span>
                                View Code
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>

            </div>
            @* github vvgonline profile *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">VVGONLINE PROFILE repo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            Vaibhav is a digital business consultant who is providing quality, and one stop solutions.
                        </p>
                        <a href="https://github.com/vvgonline/vvgonline" class="btn btn-secondary card-link"
                            target="_blank">
                            <span>
                                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
        flex-shrink: 0;user-select: none;">
                                    <!--!-->
                                    <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0
        1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2
        0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8
        5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
                                    </path>
                                </svg>
                            </span>&nbsp;
                            <span>
                                View Code
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* tactics vs strategy *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tactics vs Strategy</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            Decision making has two essential parts let's explore both terms from business' POV.
                        </p>
                        <a href="strategytactics" class="btn btn-secondary card-link"
                            title="Read Tactics vs Strategy article">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>

            </div>
            @* Scrum vs agile *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">SCRUM vs Agile</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            Agile is used for project, while Scrum is a type of Agile. Learn more key differences.
                        </p>
                        <a href="ScrumAgile" class="btn btn-secondary card-link"
                            title="Read Tactics vs Strategy article">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* PrinciplesOfAgile *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">12 Principles of Agile</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            Agile is an approach to project management that achieves a goal in small increments.
                        </p>
                        <a href="PrinciplesOfAgile" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* VVGonline creates video content that covers Microsoft's .NET framework. *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">DotNet playlist by VVGonline</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            VVGonline creates video content that covers
                            MS.NET framework.
                        </p>
                        <a href="https://www.youtube.com/playlist?list=PLo2BNqXpuoh5RmnrxCiA8LTS_sZ5n0MYt"
                            class="btn btn-secondary card-link" title="DotNet videos by VVGonline" target="_blank">
                            <span>
                                <img src="./svg/play-circle.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                View Videos
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* IT Management *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">IT Management</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            VVGonline provides brief introduction of Information technology management.
                        </p>
                        <a href="ItmTraining" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* Digital business consultant *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Everything about DBC</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            Everything about Digital business consultant you need to know.
                        </p>
                        <a href="Dbc" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* VVGonline provides 5 Reasons Why Hiring a Digital Business Consultant is Essential for Business' Success
            *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">5 Reasons to Hire DBC</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            VVGonline provides 5 Reasons to Hire DBC is Essential for Business' Success.
                        </p>
                        <a href="DigitalConsultant" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* VVGonline explains Information Technology Environment *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">IT Environment</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            VVGonline explains Information Technology Environment
                        </p>
                        <a href="ITENV" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
            @* VVGonline explains Information Technology Management in the Present and Future *@
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> IT Present & Future</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By <a href="about" title="About VVG online">VVG
                                online</a></h6>
                        <p class="card-text">
                            VVGonline explains IT Management Present & Future.
                        </p>
                        <a href="ItmPF" class="btn btn-secondary card-link" title="12 Principles of Agile">
                            <span>
                                <img src="./svg/document.svg" alt=""
                                    style="width: 1em; height:1em; display: inline-block">
                            </span>&nbsp;
                            <span>
                                Read Article
                            </span>
                        </a>
                        @* <a href="#" class="card-link">Another link</a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>