<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">TECH-I-KNOW repo</h5>
            <h6 class="card-subtitle mb-2 text-muted">By <a href="about">VVGonline</a></h6>
            <p class="card-text">In this repo I am going to make projects to demonstrate the technologies I know.</p>
            <a href="https://github.com/vvgonline/Tech-I-Know/" class="btn btn-secondary card-link" target="_blank">
              <span>
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
        flex-shrink: 0;user-select: none;"><!--!-->
                  <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0
        1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2
        0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8
        5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
                  </path>
                </svg></span>&nbsp;
              <span>
                Code
              </span>
            </a>
            @* <a href="#" class="card-link">Another link</a> *@
          </div>
        </div>

      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">VVGONLINE PROFILE repo</h5>
            <h6 class="card-subtitle mb-2 text-muted">By <a href="about">VVGonline</a></h6>
            <p class="card-text">
              Vaibhav is a digital business consultant who is providing quality, and one stop solutions.
            </p>
            <a href="https://github.com/vvgonline/vvgonline" class="btn btn-secondary card-link" target="_blank">
              <span>
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
        flex-shrink: 0;user-select: none;"><!--!-->
                  <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0
        1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2
        0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8
        5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
                  </path>
                </svg></span>&nbsp;
              <span>
                Code
              </span>
            </a>
            @* <a href="#" class="card-link">Another link</a> *@
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">TECH-I-KNOW repo</h5>
            <h6 class="card-subtitle mb-2 text-muted">By <a href="about">VVGonline</a></h6>
            <p class="card-text">In this repo I am going to make projects to demonstrate the technologies I know.</p>
            <a href="https://github.com/vvgonline/Tech-I-Know/" class="btn btn-secondary card-link" target="_blank">
              <span>
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
        flex-shrink: 0;user-select: none;"><!--!-->
                  <path d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0
        1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2
        0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8
        5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
                  </path>
                </svg></span>&nbsp;
              <span>
                Code
              </span>
            </a>
            @* <a href="#" class="card-link">Another link</a> *@
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

@* old card code *@
@* <div class="card shadow-sm">
<svg class="bd-placeholder-img card-img-top" style="width: auto; height: 225px;"
xmlns="http://www.w3.org/2000/svg"
role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
<title>TECH-I-KNOW repo</title>
<rect width="100%" height="100%" fill="#55595c" style="--darkreader-inline-fill: #43484b; width: auto; height:
225px;"
data-darkreader-inline-fill=""></rect><text x="50%" y="50%" fill="#fff" dy=".3em"
style="--darkreader-inline-fill: #dddad6;" data-darkreader-inline-fill="">TECH-I-KNOW repo</text>
</svg>

<div class="card-body">
<p class="card-text">In this repo I am going to make projects to demonstrate the technologies I know.</p>
<div class="d-flex justify-content-between align-items-center">
<div class="btn-group">
<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
<a href="https://github.com/vvgonline/Tech-I-Know/" type="button" class="btn btn-sm btn-outline-secondary">
<span>
<svg focusable="false" viewBox="0 0 24 24" aria-hidden="true"
style="width: 1em; height: 1em;display: inline-block; transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
flex-shrink: 0;user-select: none;"><!--!-->
<path
d="M12 .3a12 12 0 0 0-3.8 23.4c.6.1.8-.3.8-.6v-2c-3.3.7-4-1.6-4-1.6-.6-1.4-1.4-1.8-1.4-1.8-1-.7.1-.7.1-.7 1.2 0
1.9 1.2 1.9 1.2 1 1.8 2.8 1.3 3.5 1 0-.8.4-1.3.7-1.6-2.7-.3-5.5-1.3-5.5-6 0-1.2.5-2.3 1.3-3.1-.2-.4-.6-1.6 0-3.2
0 0 1-.3 3.4 1.2a11.5 11.5 0 0 1 6 0c2.3-1.5 3.3-1.2 3.3-1.2.6 1.6.2 2.8 0 3.2.9.8 1.3 1.9 1.3 3.2 0 4.6-2.8
5.6-5.5 5.9.5.4.9 1 .9 2.2v3.3c0 .3.1.7.8.6A12 12 0 0 0 12 .3">
</path>
</svg></span>&nbsp;
<span>
Code
</span>
</a>
</div>
<small class="text-muted">9 mins</small>
</div>
</div>
</div> *@