<section class="container-fluid px-3 pt-3">

    <div class="row">
        <div class="col-sm-4">
            @* about
            <p>
            <a href="about" class="btn btn-default">
            About
            </a>
            </p> *@
            @* privacy policy *@
            <div>
                <a href="privacy" class="btn btn-defualt">
                    privacy policy
                </a>
            </div>
            @* terms of usage *@
            @* <div>
            <a href="privacy" class="btn btn-defualt">
            terms of usage
            </a>
            </div> *@
            @* contact *@
            <div>
                <a href="contact" class="btn btn-default">
                    contact
                </a>
            </div>
        </div>
        @* blogs reppos vlogs training *@
        <div class="col-sm-4">
            @* blogs *@
            @* <p>
            <a href="about" class="btn btn-defualt">
            blogs
            </a>
            </p> *@
            @* repos *@
            <p>
                <a href="https://github.com/VVGonline?tab=repositories" target="_blank" class="btn btn-defualt">
                    repos
                </a>
            </p>
            @* vlogs *@
            <p>
                <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
                    class="btn btn-defualt">
                    vlogs
                </a>
            </p>
        </div>
        @* logo *@
        <div class="col-sm-4">
            @* logo *@
            <div class="pb-2 text-center" style="background-color: #000;">
                <a href="#" class="btn">
                    @* logo *@
                    <span>
                        <img src="./images/profile/vvgonline-plus.svg" alt="VVGonline" class="img-fluid"
                            style="width: 6.5em; height: auto;">
                    </span>

                </a>
            </div>
            <div class="pt-4">
                <p class="h4">
                    Get VVGonline+ for Your Business. Enable transformation and drive culture at your company with
                    lessons from the biggest thinkers in the world.
                </p>
            </div>
            <div>
                <a href="#">know more</a>
            </div>
        </div>
    </div>
</section>