<div style="border-top: 3px solid #EE912A;
 margin-top: 1em;">
    <table class="table table-borderless" style="border: 0;">
        <tr class="row">
            <td class="col-sm-4">
                @* about *@
                <p>
                    <a href="about" class="btn btn-default">
                        About
                    </a>
                </p>
                @* privacy policy *@
                <div>
                    <a href="privacy" class="btn btn-defualt">
                        privacy policy
                    </a>
                </div>
                @* terms of usage *@
                @* <div>
                    <a href="privacy" class="btn btn-defualt">
                        terms of usage
                    </a>
                </div> *@
                @* contact *@
                <div>
                    <a href="contact" class="btn btn-default">
                        contact
                    </a>
                </div>
            </td>
            @* blogs reppos vlogs training *@
            <td class="col-sm-4">
                <div>
                    @* blogs *@
                    <p>
                        <a href="about" class="btn btn-defualt">
                            blogs
                        </a>
                    </p>
                </div>
                @* repos *@
                <div>
                    <p>
                        <a href="https://github.com/VVGonline?tab=repositories" target="_blank" class="btn btn-defualt">
                            repos
                        </a>
                    </p>
                </div>
                @* vlogs *@
                <div>
                    <p>
                        <a href="https://www.youtube.com/channel/UCsFTSQ6exutOIpP-wHl8qQQ" target="_blank"
                            class="btn btn-defualt">
                            vlogs
                        </a>
                    </p>
                </div>
            </td>
            @* logo *@
            <td class="col-sm-4">
                @* logo *@
                <div class="pb-2 text-center" style="background-color: #000;">
                    <a href="#" class="btn">
                        @* logo *@
                        <span>
                            <img src="./images/profile/vvgonline.svg" alt="VVGonline" class="img-fluid"
                                style="width: 6.5em; height: auto;">
                        </span>

                    </a>
                </div>
                <div class="pt-4">
                    <p>
                        Get VVGonline+ for Your Business. Enable transformation and drive culture at your company with
                        lessons from the biggest thinkers in the world.
                    </p>
                </div>
                <div>
                    <a href="#">know more</a>
                </div>
            </td>
        </tr>
    </table>
</div>