<header>
    <div class="row py-3">
        <div class="col-sm-6">
            <article>
                @* title *@
                <h1>
                    @articleTitle
                </h1>
            </article>
            @* keyline *@
            <blockquote class="pt-3">
                <b>
                    "@keyLine"
                </b>
            </blockquote>
            @* date/author *@
            <div>
                <div>
                    <small>
                        @articlePublishDate
                    </small>
                </div>
                <div>By
                    <small>
                        @* make author link dynamic later *@
                        <a href="about">
                            VVGonline
                        </a>
                    </small>
                </div>
            </div>
        </div>
        @* banner *@
        <div class="col py-3">
            <img src="@bannerImagePath" alt="@articleTitle" class="img-fluid rounded" loading="lazy" />
        </div>
    </div>
    <hr>
</header>

@code {
    [Parameter]
    public string? articleTitle { get; set; }
    [Parameter]
    public string? keyLine { get; set; }
    [Parameter]
    public string? articlePublishDate { get; set; }
    [Parameter]
    public string? bannerImagePath { get; set; }
    string getArticleTitile() => articleTitle is null ? "VVGonline" : $"{articleTitle}";

    string GetSubTitle()
    {
        if (string.IsNullOrEmpty(keyLine))
            return "";
        return keyLine.TrimEnd('.') + ".";
    }
}