<header class="container text-left pt-5">
    @* date/author *@
    <div class="row">
        <div>
            <span>
                <small>
                    @* TODO: make author link dynamic later *@
                    <a href="about" title="author">
                        <i>
                            VVGonline
                        </i>
                    </a>
                </small>
            </span>
            <span>
                &nbsp;|&nbsp;
                <small>
                    <i>
                        @articlePublishDate
                    </i>
                </small>
            </span>
        </div>
    </div>
    @* title and subheading *@
    <div class="row">
        <article class="col">
            @* title *@
            <h1 class="display-1">
                @articleTitle
            </h1>
            @* keyline *@
            <div class="display-6 pb-3">
                <b>
                    "@keyLine"
                </b>
            </div>
        </article>
    </div>
    @* banner *@
    <div class="row pb-3">
        <img src="@bannerImagePath" alt="@articleTitle" class="img-fluid rounded" loading="lazy" />
    </div>
</header>
<hr>
@code {
    [Parameter]
    public string? articleTitle { get; set; }
    [Parameter]
    public string? keyLine { get; set; }
    [Parameter]
    public string? articlePublishDate { get; set; }
    [Parameter]
    public string? bannerImagePath { get; set; }
    string getArticleTitile() => articleTitle is null ? "VVGonline" : $"{articleTitle}";

    string GetSubTitle()
    {
        if (string.IsNullOrEmpty(keyLine))
            return "";
        return keyLine.TrimEnd('.') + ".";
    }
}