@inject NavigationManager _navManagr

<div class="hero mx-auto p-5">
    <div class="hero__content">
        <h2 class="display-1 hero__title">Digital Business Consulting</h2>
    </div>
    <div class="hero__text">
        <p>
            Driving you beyond growth, through unique, innovative, and result-
            oriented services.
        </p>
        <button @onclick="RedirectToHome" tabindex="2">
            Get in touch
        </button>
    </div>
</div>

@code {
    private void RedirectToHome()
    {
        _navManagr.NavigateTo("Contact");
    }
}