@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main role="main">
        @* top row *@
        @* <div class="top-row px-4">

        </div> *@
        @* main content *@
        <article class="container content px-4">
            @Body
        </article>
        <footer>
            @* footer comp *@
            <FooterComp></FooterComp>
        </footer>
    </main>
</div>
