@inherits LayoutComponentBase

@* <div class="sidebar">
<NavMenu />
</div>
<div class="page">
</div> *@
<main role="main" class="main">
    @* top row *@
    <NavMenu />
    @* main content *@
    <section class="gray">
        @Body
    </section>
</main>
<footer style="margin: 0;">
    @* footer comp *@
    <FooterComp></FooterComp>
</footer>
