@inherits LayoutComponentBase

@* <div class="sidebar">
<NavMenu />
</div>
<div class="page">
</div> *@
<main role="main">
    @* top row *@
    <NavMenu />
    @* main content *@
    <section class="container py-5">
        @Body
    </section>
    <div class="container">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</main>
<footer>
    @* footer comp *@
    <FooterComp></FooterComp>
</footer>
