<nav class="top-row ps-3 navbar fixed-top navbar-dark">
    <div class="container-fluid">
        @* logo *@
        <span class="mx-auto text-center"> @* mx-auto class is used to center logo *@
            <a class="navbar-brand" href="" title="VVGonline">
                <img src="./images/profile/vvgonline.svg" alt="VVGonline" class="img-fluid navbar-brand-img" style="width: 10rem; height: auto;" />
            </a>
        </span>
        @* About *@
        @* <span>
        <a href="about" class="btn btn-info">About</a>
        </span> *@
        @* about dropdown *@
        @* <div class="dropdown dropleft">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="about">vvgonline</a></li>
                <li><a class="dropdown-item" href="Dbc">DIGITAL BUSINESS CONSULTANT</a></li>
                <li><a class="dropdown-item" href="DesignThinking">DESIGN THINKING</a></li>
            </ul>
        </div> *@
    </div>
</nav>