<div class="top-row ps-3 navbar fixed-top navbar-dark bg-dark" style="
   position: fixed; top: 0px; z-indesx: 1000;">
    <div class="container-fluid">
        @* logo *@
        <span>
            <a class="navbar-brand" href="" title="VVGonline" style="color:#fff;">
                @* <span style="border: 2px solid #EE912A; padding: 0; font-family: 'Gabarito', cursive;
                font-weight:900;">
                &nbsp;VVG
                </span>
                <span
                style=" border-bottom: 2px solid #EE912A; margin-left:6px; font-family: 'Gabarito', serif; padding: 0;">
                ONLINE
                </span> *@
                <img src="./images/profile/vvgonline.svg" alt="VVGonline" class="img-fluid"
                    style="width: 6.5em; height: auto;">
            </a>
        </span>
        @* hire on nav *@
        <span>
            <a href="about#hireme" class="btn btn-info">Hire</a>
        </span>
    </div>
</div>