<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        @* logo *@
        <span>
            <a class="navbar-brand" href="" title="VVG online" style="color:#fff;">
                <span style="border: 2px solid #f6d55c; padding: 0; font-family: 'Gabarito', cursive; font-weight:900;">
                    &nbsp;VVG
                </span>
                <span
                    style=" border-bottom: 2px solid #f6d55c; margin-left:6px; font-family: 'Gabarito', serif; padding: 0;">
                    ONLINE
                </span>
            </a>
        </span>
        @* hire on nav *@
        <span class="text-right">
            <a href="about#hireme" class="btn btn-info">Hire</a>
        </span>
    </div>
</div>