<Dotdotdot></Dotdotdot>
@* itm blog list with links *@

<section class="container">
    <p class="lead">
        Following ia a list of blogs on Digital Business Consultant
    </p>
    <br>
    @* VGonline explains 5 reasons to hire Digital Business Consultant *@
    <div class="card mb-3">
        <article class="card-body">
            <h5 class="card-title">VVGonline explains 5 reasons to hire Digital Business Consultant</h5>
            <div class="card-text">
                "When in a business a DBC get an opportunity to always question what we do, there is a question of why
                we
                do
                what we do, also a description of what we used to do".
            </div>
            <p class="card-text">
                <small class="text-muted">
                    <a href="DigitalConsultant">
                        Read Blog
                    </a>
                </small>
            </p>
        </article>
    </div>
</section>
@*
<div class="dropdown">
<span>
<img src="./svg/tags.svg" alt="" style="width: 1em; height:1em;" loading="lazy">
</span>
<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
aria-expanded="false">
Digital Business Consultant
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<li>
<a class="dropdown-item" href="DigitalConsultant">
VVGonline - 5 reasons to hire DBC
</a>
</li>
</ul>
</div> *@