<Dotdotdot></Dotdotdot>
@* itm blog list with links *@

<section class="container">
    <div class="display-6">
        Following ia a list of blogs on Digital Business Consultant
    </div>
    @* VGonline explains 5 reasons to hire Digital Business Consultant *@
    <div class="card mb-3">
        <article class="card-body">
            <h5 class="card-title">VVGonline explains 5 reasons to hire Digital Business Consultant</h5>
            <div class="card-text">
                "When in a business a DBC get an opportunity to always question what we do, there is a question of why
                we
                do
                what we do, also a description of what we used to do".
            </div>
            <p class="card-text">
                <small class="text-muted">
                    <a href="DigitalConsultant">
                        Read Blog
                    </a>
                </small>
            </p>
        </article>
    </div>
    @* VGonline explains 5 reasons to hire Digital Business Consultant *@
    <div class="card mb-3">
        <article class="card-body">
            <h5 class="card-title">VVGonline's take on Strategy vs Tactics</h5>
            <div class="card-text">
                "Decision making has two parts strategy and tactics both of these terms are borrowed in business from
                military terminology taken from a book "Art of War" by Sun Tzu. These terms helps to build and execute
                business decisions".
            </div>
            <p class="card-text">
                <small class="text-muted">
                    <a href="strategytactics">
                        Read Blog
                    </a>
                </small>
            </p>
        </article>
    </div>
</section>