<Dotdotdot></Dotdotdot>
@* itm blog list with links *@
<div>
    <p class="h4">
        Following ia a list of blogs on IT Management (ITM)
    </p>
    <br>
    @* VVGonline explains Information Technology Environment *@
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">VVGonline explains Information Technology Environment</h5>
            <p class="card-text">
                There are three things that happens in IT environment management that are:
                enhance business
                IT systems, cost reductions, better security.</p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="ITENV">
                        Read Blog
                    </a>
                </small>
            </p>
        </div>
    </div>
        <hr>
    @* VVGonline explains Information Technology Management in the Present and Future *@
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">VVGonline explains Information Technology Management in the Present and
                Future
            </h5>
            <p class="card-text">TIn recent years, IT management has become increasingly important due to rapid
                technological advancements.</p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="ItmPf">
                        Read Blog
                    </a>
                </small>
            </p>
        </div>
    </div>
</div>