.navbar {
  background: rgba(0, 0, 0, 0.3); /* Adding a background color */
  display: flex;
  align-items: center; /* Vertically aligning nav links */
  transition: background-color 0.3s ease;
  padding: 1rem 0;

  &.scrolled {
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .navbar-brand img {
    height: 50px;
    transition: all 0.3s ease;
  }

  .nav-link {
    color: var(--color-white);
    font-weight: bold;
    margin-left: 15px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-accent);
    }

    &.contact-icon {
      display: flex;
      align-items: center;
      gap: 5px;

      i {
        font-size: 1.2rem;
      }
    }
  }
}
