nav {
  width: 100%; /* default width */
  z-index: 1000;
  background-color: var(--color-accent);
  border: var(--color-accent-hover) 2px solid;
  border-top: 0.25rem solid $yellow-1;
  .navbar-brand {
    transform: translateX(-50%);
  }
  .navbar-brand-img {
    height: 60px;
  }
  .logo {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 360px) {
  nav {
    width: 360px;
  }
}
