.navbar {
  background: rgba(0, 0, 0, 0.3); /* Adding a background color */
  display: flex;
  align-items: center; /* Vertically aligning nav links */
  transition: background-color 0.3s ease;
  padding: 1rem 0;

  &.scrolled {
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .navbar-brand img {
    height: 50px;
    transition: all 0.3s ease;
  }

  .nav-link {
    color: var(--color-white);
    font-weight: bold;
    margin-left: 15px;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-accent);
    }
  }

  .navbar-toggler {
    border-color: var(--color-accent);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 87, 166, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
}
